= simple_nested_form_for [:admin, @resource], wrapper_mappings: { boolean: :vertical_boolean}, html: {class: "form-horizontal localized-form"} do |f|
  .form-inputs
    == render 'admin/helpers/locale_selectors'
    = error_explanation(@resource)
    = f.input :name
    = f.input :key, disabled: !@resource.new_record?
    = f.input :content, as: :localized_imperavi

  .form-group
    = link_to "Отменить", admin_page_fragments_path, class: 'btn btn-default'
    | &nbsp
    = f.button :submit
    | &nbsp
    = submit_and_continue f
