.row.page-title
  .col-lg-12
    h1 = t('views.admin.page_fragments.index.title')
/ .row.top-actions
/   .col-lg-12
/     = link_to new_admin_page_fragment_path, class: 'btn btn-success btn-lg pull-right' do
/       i.fa.fa-plus
/       | &nbsp
/       = t('helpers.buttons.add')
.row
  .col-lg-12
    == render 'list'
