= simple_nested_form_for [:admin, @resource], wrapper_mappings: { boolean: :horizontal_boolean }, html: {class: "form-horizontal localized-form"} do |f|
  .form-inputs
    == render 'admin/helpers/locale_selectors'
    = error_explanation(@resource)
    = f.input :title, as: :localized_string
    = f.input :intro, as: :localized_text
    = f.input :content, as: :localized_imperavi
    = hidden_field_tag :menu_item_id, params[:menu_item_id]
  .form-group
    .col-sm-offset-2
      = link_to t('helpers.cancel'), admin_pages_path, "back-btn" => true, class: 'btn btn-white'
      | &nbsp
      = f.button :submit
      | &nbsp
      - if can? :update, @resource
        = submit_and_continue f