= link_to post_path(item), class: 'item' do
  - case item.approved
  - when nil
    - badge_class = 'badge default'
    - badge_title = t('helpers.under_consideration')
  - when false
    - badge_class = 'badge danger'
    - badge_title = t('helpers.declined')
  - when true
    - badge_class = 'badge success'
    - badge_title = t('helpers.approved')
  - else
    - raise "unknown value #{item.approved.inspect}"

  div(class=badge_class) = badge_title
  .publish-date = l(item.publish_date, format: :publish_date)
  .image = image_tag item.image.thumb('190x160#').url
  .content
    .title = item.title
    .intro == item.intro
    .more = t('helpers.read_more')
