.-container.inner.my-posts
  .-row
    .-col12
      = render_frontend_breadcrumbs
      h1 = t('views.main.my_posts.title')
  .-row.top-actions
    .-col8.-offset3
      = link_to t('helpers.suggest_post'), new_my_post_path, class: 'btn-suggest'
  .-row.content-with-margins
    .-col8.-offset3
      .base-list
        = render partial: 'list', collection: @collection, as: :item

    .-col8.-offset3
      .base-pagination
        = paginate @collection

