.-container.inner.my-posts
  .-row
    .-col12
      = render_frontend_breadcrumbs
      h1 = t('views.main.my_posts.new')
  .-row
    .-col6.-offset3
      .basic-form
        = simple_form_for @resource, url: my_posts_path, wrapper: :horizontal_form_unlabeled do |f|
          .form-inputs
            = error_explanation(@resource)
            = f.input :title, as: :string, required: true, placeholder: t('activerecord.attributes.post.title')
            = f.input :intro, as: :text, placeholder: t('activerecord.attributes.post.intro')
            = f.input :image, as: :image, required: true
            = f.input :content, as: :imperavi, placeholder: t('activerecord.attributes.post.content')
            = f.input :publish_date, as: :date, placeholder: t('activerecord.attributes.post.publish_date')
            = f.input :user_id, as: :hidden, html_input: {value: current_user.id}
            
          .form-actions
            = f.button :submit, t('helpers.send'), class: 'btn-lg btn-block'