.basic-form
  = simple_form_for @message do |f|
    = error_explanation(@message)

    .form-inputs
      = f.input :text, as: :text, input_html: { class: 'imperavi-input' }
    
    .form-actions 
      = f.submit
