.-container.inner.interview
  .-row
    .-col12
      = render_frontend_breadcrumbs
  
  .-row
    .-col12
      h1.base-title = t("views.messages.edit.title")

  .-row
    .-col12
      == render 'form'

  .-row
    .-col12
      .base-buttons
        = link_to t('helpers.link_to.back'), topic_path(@message.topic_id), class: 'btn default'

