= simple_nested_form_for [:admin, @resource], html: { class: 'form-horizontal localized-form' }, wrapper_mappings: { boolean: :horizontal_boolean } do |f|
  .form-inputs
    == render 'admin/helpers/locale_selectors'
    = error_explanation(@resource)
    = f.input :name, as: :localized_string
    = f.input :published
    .hr-line-dashed
    = f.simple_fields_for :slides do |slide|
      = slide.input :title, as: :localized_string
      = slide.input :text, as: :localized_text
      = slide.input :order_number, as: :integer
      = slide.input :image, as: :image
      = slide.link_to_remove class: 'btn btn-danger btn-group btn-s'
        span aria-hidden="true"
          i.fa.fa-trash
      .hr-line-dashed
    = f.link_to_add t('helpers.buttons.add_slide'), :slides, class: 'btn btn-success btn-s'
  .form-group
    .col-sm-offset-2
      = link_to t('helpers.cancel'), admin_presentations_path, class: 'btn btn-white'
      | &nbsp
      = f.button :submit
      | &nbsp
      - if can? :update, @resource
        = submit_and_continue f