- if @collection.blank?
  = t('helpers.not_found')
- else
  table.table.table-hover.table-bordered
    thead
      tr
        th Название
        th
    tbody.rowlink data-link="row"
      - @collection.each do |resource| 
        tr
          td.object-ref
            = link_to url_for([:edit, :admin, resource]) do
              .td-inner-container
                = resource.name
          td.unstoppable
            = link_to url_for([:admin, resource]), class: 'btn-remove', method: :delete, data: { confirm: "Вы уверены?" } do
              .fa.fa-trash
== paginate @collection
