.-container.inner.profile
  .-row
    .-col12
      h2.base-title = t('devise.views.profile.title')

  .-row
    .-col6.-offset3
      .basic-form
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = error_explanation(resource)
          .form-inputs
            = f.input :email, required: true, autofocus: true

            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              p
                Currently waiting confirmation for: 
                = resource.unconfirmed_email

            = f.input :image, as: :image
            = f.input :password, autocomplete: "off", hint: t('helpers.leave_it_blank_if_not_change'), required: false
            = f.input :password_confirmation, required: false

            = f.input :first_name
            = f.input :middle_name
            = f.input :last_name
            = f.input :post
            = f.association :organizations, input_html: { class: 'select2-input' } if current_user.role? :admin

            = f.input :current_password, hint: t('helpers.we_need_your_current_password'), required: true

          .form-actions
            = f.button :submit, t('helpers.send')

            = link_to t('helpers.link_to.back'), :back, class: 'btn default'