.-container.inner.profile
  .-row
    .-col12
      h2.base-title = t("devise.views.sign_up.title")

  .-row
    .-col6.-offset3
      .basic-form
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper_mappings: { boolean: :vertical_boolean }) do |f|
          = error_explanation(resource)
          .form-inputs
            = f.input :email, required: true, autofocus: true
            = f.input :password, required: true, hint: (t('helpers.minimum_field_length', count: @minimum_password_length) if @minimum_password_length)
            = f.input :password_confirmation, required: true
            = f.input :first_name
            = f.input :middle_name
            = f.input :last_name
            = f.input :post
            .user-organization-switch
              = f.association :organizations, input_html: { class: 'select2-input' }, required: !resource.organization_not_in_list?
              = f.input :organization_not_in_list, as: :boolean
              = f.input :outer_organization, required: resource.organization_not_in_list?

          .form-actions
            = f.button :submit, t('helpers.send')

        = render "devise/shared/links"
