@media print
  .organization
    > div
      display: none
    > .title-wrapper
      display: block
    > .organization-map-wrapper
      display: block
      .buttons-container
        display: none