doctype 5
html lang=locale
  head
    meta charset="utf-8"
  body
    p 
      span Пользователь
      | &nbsp;
      span = @user.try(:first_name)
      | &nbsp;
      span = @user.try(:middle_name)
      | &nbsp;
      span = @user.try(:last_name)
      | &nbsp;
      span = @user.try(:email)
      | &nbsp;
      span ожидает подтверждения аккаунта.

