doctype 5
html lang=locale
  head
    meta charset="utf-8"
  body
    span Пользователь
    | &nbsp;
    span = @contact.try(:name)
    | &nbsp;
    span = @contact.try(:email)
    | &nbsp;
    span оставил новый
    | &nbsp;
    = link_to 'отзыв', admin_contact_url(id: @contact.id)
    span .