doctype 5
html lang=locale
  head
    meta charset="utf-8"
  body
    p Вы успешно зарегистрировались на портале.
    p После подтверждения вашей учетной записи администратором вам будут доступны все разделы портала.
