window.app = angular.module("menuTreeEdit", []) unless window.app
app.controller "TreeController", ['$scope', '$http', ($scope, $http) ->
    getCSRF = ->
        csrfToken = $('meta[name=csrf-token]').attr 'content'
        csrfParam = $('meta[name=csrf-param]').attr 'content'
        obj = {}
        obj[csrfParam] = csrfToken
        obj

    _.extend $http.defaults.headers.common, {"X-CSRF-TOKEN": $('meta[name=csrf-token]').attr('content')}

    #window. for debug only
    window.http = $http
    window.root = $scope.root = {}
    window.collection = $scope.collection = []
    window.tree = $scope.tree = {children_ids: [], children: []}
    window.scope = $scope
    window.dialog = $scope.dialog = {}

    $http.get("menu_items.json").success (data) =>
        $scope.collection = data
        $scope.root = _.find $scope.collection, (obj)-> obj.root
        $scope.tree = @makeBranch $scope.root

    @makeBranch = (obj) =>
        if obj
            obj.children = for child in @getChildren(obj)
                @makeBranch child
            obj
        else
            {}

    @getChildren = (target) =>
        res = []
        if target
            for id in target.children_ids
                res.push @find(id)
        _.compact(res)

    @find = (id) -> _.findWhere($scope.collection, id: parseInt(id))  if id

    #controller actions

    $scope.update = _.debounce (data) =>
        id = data.id
        delete data.id
        id_url = data.semantic_url || data.url
        $http.put("menu_items/#{id_url}", menu_item: data)
    , 1000


    $scope.remove = (data) =>
        id_url = data.semantic_url || data.url
        if confirm "<%= I18n.t("helpers.messages.destroy_confirm") %>"
            $http.delete("menu_items/#{id_url}").success (res) =>
                parent = @find res.id
                parent.children_ids = res.children_ids
                $scope.tree = @makeBranch $scope.root

    $scope.cut = (obj) =>
        parent = @find obj.parent_id
        $scope.buffer =
            id: obj.id
            old_parent:
                id: parent.id
                children_ids: parent.children_ids

    $scope.paste = (target, keyword) =>
        return unless $scope.buffer
        params = {}
        params.target_id = target.id
        params.position = keyword
        obj = @find $scope.buffer.id
        $http.put("menu_items/#{obj.id}/move", params).success (res) =>
            old_parent = @find $scope.buffer.old_parent.id
            @removeChildren(old_parent, obj)
            parent = @find res.id
            parent.children_ids = res.children_ids
            obj.parent_id = parent.id
            $scope.tree = @makeBranch $scope.root
            $scope.buffer = null

    $scope.clearBuffer = =>
        $scope.buffer = null

    $scope.getType = (item) ->
        res = item.target_type if item.target_type
        res = "Link" if !res && item.semantic_url && item.url
        res = "Folder" unless res
        res

    $scope.toggleFolder = (isFolder, item) ->
        item.showChildren = !item.showChildren #if isFolder

    $scope.editPath = (item) ->
        id_url = item.semantic_url || item.url || item.id
        if $scope.getType(item) is "Page"
          id_url = item.target_id
          url = "/admin/pages/"
          if item.target_id
            url += "#{id_url}/edit"
          else
            url += "new?menu_item_id=#{item.id}"
          url
        else if $scope.getType(item) is "Presentation"
          url = "/admin/presentations/"
          if item.target_id
            url += "#{item.target_id}/edit"
          else
            url += "new?menu_item_id=#{item.id}"
          url
        else
          "/admin/menu_items/#{id_url}/edit"

    $scope.add = (parent = $scope.root, type = "Folder") =>
        pos = parent.children_ids.length + 1

        if type == 'Folder'
          newName = "Раздел-#{pos}"
        else if type == 'Link'
          newName = "Ссылка-#{pos}"
        else if type == 'Page'
          newName = "Информациионный материал-#{pos}"
        else if type == 'Presentation'
          newName = "Презентация-#{pos}"

        newName = prompt("Введите заголовок для создаваемого объекта", newName)

        parent_id = parent.id
        obj =
            title: 
              ru: newName
            children_ids: []
            parent_id: parent_id
        obj.url = prompt "Введите адрес ссылки" if type is "Link"
        obj.target_type = "Page" if  type is "Page"
        obj.target_type = "Presentation" if type is "Presentation"

        params = {}
        params.menu_item = obj

        $http.post("menu_items", params).success (data) =>
            obj.id = data.id
            obj.children_ids = data.children_ids
            obj.target_id = data.target_id
            obj.target_type = data.target_type
            obj.target_name = data.target_name
            obj.title = data.title
            obj.url = data.url
            obj.semantic_url = data.semantic_url
            parent.children_ids = data.parent_children_ids
            $scope.collection.push obj
            $scope.tree = @makeBranch $scope.root

    @removeChildren = (parent, child) ->
        id = child.id
        ids = _.clone(parent.children_ids)
        index = ids.indexOf(id.toString())
        ids.splice(index, 1) if index > -1
        parent.children_ids = ids
        child.parent_id = null

]
