= link_to interview_path(item), class: 'item' do 
  .publish-date = l(item.publish_date, format: :publish_date)
  .image = image_tag item.image.thumb('190x160#').url
  .content
    .title = item.title
    .intro == item.intro
    .more = t('helpers.read_more')
