.-container.inner.interviews
  .-row
    .-col12
      = render_frontend_breadcrumbs
  .-row.content-with-margins
    .-col8.-offset3
      .base-list
        = render partial: 'interviews/list', collection: @collection, as: :item

    .-col8.-offset3
      .base-pagination
        = paginate @collection

