.-container.inner.interview
  .-row
    .-col12
      = render_frontend_breadcrumbs

  .-row
    .-col12
      .publish-date = l(@resource.publish_date, format: :publish_date)
      h1.base-title = @resource.title

    .-col12
      .base-intro = @resource.intro

  .-row.content-with-margins
    .-col6.-offset3.content
      .image
        = image_tag(@resource.image.url, width: "100%")
      == @resource.content
      == render 'shared/gallery', collection: @resource.pictures if @resource.pictures.any?
    .-col9.-offset3
      .social_share
        h4= t('helpers.social_share')
        = render partial: 'shared/shared_links', locals: {title: @resource.title}

  .clearfix
    
