.basic-form
  = simple_nested_form_for @topic, html: { class: "form-horizontal" } do |f|
    = error_explanation(@topic, filter: [:'messages.text'])
    .form-inputs
      = f.input :title
      - if [:normal, :guest].include? current_user.role.to_sym 
        = f.input :topic_type, as: :hidden, input_html: { value: Topic::TOPIC_PRIVATE}   
      - else    
        = f.input :topic_type, collection: [[t('activerecord.attributes.topic.topic_types.open'), Topic::TOPIC_OPEN], [t('activerecord.attributes.topic.topic_types.private'), Topic::TOPIC_PRIVATE]], 
          include_blank: false, input_html: { class: 'select2-input' }
      = f.input :text, as: :text, input_html: { class: 'imperavi-input' }

      - unless @topic.topic_type == Topic::TOPIC_OPEN
        - if current_user.present? && ['admin', 'moderator'].include?(current_user.role)
          = f.input :group_ids, as: :select, collection: @groups.map{|group| [group.title, group.id] }, input_html: {class: 'select2-input', multiple: true}

        = f.association :users, collection: User.active, input_html: {class: 'select2-input'}

    .form-actions
      = f.submit
