.messages
  - @topic.messages.each do |m|
    .message class="#{cycle('even', 'odd')}"
      .header
        - if m.user.image
          .avatar = image_tag m.user.image.thumb('40x40#').url
        / - else
        /   .avatar = image_tag Dragonfly.app.fetch_file('/app/assets/images/profile.png')
        /   .avatar = image_tag Dragonfly.app.fetch_file(image_url('profile.png')).thumb('40x40#').url
        .author = m.user.full_name
        .publish-date = l(m.created_at, format: :publish_date)
        .clearfix
      .content == m.text
      .actions
        .form_group
        - if can? :update, m
          = link_to t('helpers.edit'), edit_message_path(m.id),
            class: 'btn primary'
        - if can? :destroy, m
          = link_to t('helpers.delete'), message_path(m.id), 
            data: { confirm: 'Вы уверены?' }, method: :delete,
            class: 'btn danger pull-right'
