.basic-form
  .form-title
    h4= t('views.topics.show.add_message')
  = simple_form_for @message do |f|
    = error_explanation(@message)

    = f.hidden_field :topic_id, value: @topic.id

    .form-inputs
      = f.input :text, as: :text, input_html: { class: 'imperavi-input' }

    .form-actions
      = f.submit t('helpers.send')