.-container.inner.forum
  .-row
    .-col12
      = render_frontend_breadcrumbs

  .-row
    .-col12
      h1.base-title = t 'views.topics.edit.title'

  .-row
    .-col12
      == render 'form'

  .-row
    .-col12
      .base-buttons
        = link_to t("helpers.cancel"), @topic, class: 'btn default'

        - unless @topic.is_archieved
          = link_to t("helpers.archive"), archive_topic_path(@topic), method: :post, class: 'btn warning'

        = link_to t("helpers.link_to.back"), topics_path, class: 'btn primary'

