.-container.inner.forum
  .-row
    .-col12
      h1.base-title = t 'views.topics.index.title'

  .-row
    .-col12
      table
        thead
          tr
            th.title = t('views.topics.index.labels.title')
            th.author = t('views.topics.index.labels.author')
            th.topic-type = t('views.topics.index.labels.topic_type')
            th.messages-count 
              = fa_icon "comments-o", title: t('views.topics.index.labels.messages_count')
            th.last-message = t('views.topics.index.labels.last_message')
            th.topic-actions

        tbody
          - @topics.each do |topic|
            tr class="#{cycle('even', 'odd')}"
              td.title = link_to topic.title, topic_path(topic)
              td.author = User.find(topic.user_id).short_name
              td.topic-type = topic_type_icon(topic.topic_type)
              td.messages-count = topic.messages.count
              td.last-message  
                - if topic.messages.last.present?
                  = l(topic.messages.last.created_at, format: :publish_date)
              td.topic-actions 
                - if can? :update, topic
                  = link_to edit_topic_path(topic), class: 'btn success', title: t('helpers.edit') do
                    = fa_icon 'pencil-square'
                  - if topic.is_archieved
                    = link_to unarchive_topic_path(topic), method: :post, class: 'btn warning', title: t('helpers.unarchive') do
                      = fa_icon 'mail-reply-all' 
                  - else
                    = link_to archive_topic_path(topic), method: :post, class: 'btn warning', title: t('helpers.archive') do
                      = fa_icon 'archive'
                - if can? :destroy, topic
                  = link_to topic, data: { confirm: 'Вы уверены?' }, method: :delete, class: 'btn danger', title: t('helpers.delete') do
                    = fa_icon 'trash'
    .-col12
      .base-pagination
        = paginate @topics

  .-row
    .-col12
      .base-buttons
        - if params[:action] != 'archived'
          = link_to t('views.topics.index.labels.archived'), archived_topics_path, class: 'btn primary'
        - else
          = link_to t('views.topics.index.labels.themes'), topics_path, class: 'btn default'
        = link_to t('views.topics.index.labels.new_theme'), new_topic_path, class: 'btn success'
