.-container.inner
  .-row
    .-col12
      = render_frontend_breadcrumbs

  .-row
    .-col12
      h1.base-title = t("views.topics.new.title")

  .-row
    .-col12
      == render 'form'

  .-row
    .-col12
      .base-buttons
        = link_to t('helpers.link_to.back'), topics_path, class: 'btn default'
