.-container.inner.forum
  .-row
    .-col12
      = render_frontend_breadcrumbs

  .-row
    .-col12
      h1.base-title 
        = @topic.title + (@topic.is_archieved ? " (#{ t('views.topics.show.archived') })" : '')
      .topic-title-hint
        - if @topic.topic_type == 'open'
          = t('views.topics.show.type.open')
        - elsif @topic.topic_type == 'private'
          = t('views.topics.show.type.private')
      .topic-author
        .label = t('views.topics.show.author')
        .value = @topic.user.full_name

  == render 'topics/messages'

  - unless @topic.is_archieved
    == render 'topics/message_form'

  .-row
    .-col12
      .social_share
        h4= t('helpers.social_share')
        = render partial: 'shared/shared_links', locals: {title: @topic.title}
    .-col12
      .base-buttons
        - if can? :update, @topic
          - if @topic.is_archieved
            = link_to t('helpers.unarchive'), unarchive_topic_path(@topic), method: :post, class: 'btn warning'
          - else
            = link_to t('helpers.archive'), archive_topic_path(@topic), method: :post, class: 'btn warning'
          = link_to t('helpers.edit'), edit_topic_path(@topic), class: 'btn success'
        = link_to t("helpers.link_to.back"), topics_path, class: 'btn primary'