doctype html
html
  head
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    css:
      code,
      pre {
        font-family: Menlo, Monaco, monospace, sans-serif;
      }
      div,
      p,
      ul,
      ol,
      table,
      dl,
      blockquote,
      pre {
        font-size: 14px;
        line-height: 1.6em;
      }
      a {
        color: #15c;
        text-decoration: underline;
      }
      object,
      embed,
      video,
      img {
        max-width: 100%;
        width: auto;
      }
      video,
      img {
        height: auto;
      }
      div,
      p,
      ul,
      ol,
      table,
      dl,
      figure,
      blockquote,
      pre {
        margin: 0;
        margin-bottom: 15px;
        border: none;
        background: none;
        box-shadow: none;
      }
      iframe,
      object,
      hr {
        margin-bottom: 15px;
      }
      iframe {
        width: auto;
      }
      blockquote {
        margin-left: 1.6em !important;
        padding-left: 0;
        color: #777;
        font-style: italic;
      }
      ul,
      ol {
        padding-left: 2em;
      }
      ul ul,
      ol ol,
      ul ol,
      ol ul {
        margin: 2px;
        padding: 0;
        padding-left: 2em;
        border: none;
      }
      dl dt {
        font-weight: bold;
      }
      dd {
        margin-left: 1em;
      }
      table {
        border-collapse: collapse;
        font-size: 1em;
        width: 100%;
      }
      table td,
      table th {
        padding: 5px;
        border: 1px solid #ddd;
        vertical-align: top;
      }
      table thead td,
      table th {
        font-weight: bold;
        border-bottom-color: #888;
      }
      code {
        background-color: #d8d7d7;
      }
      pre {
        overflow: auto;
        padding: 1em;
        border: 1px solid #ddd;
        border-radius: 3px;
        background: #f8f8f8;
        white-space: pre;
        font-size: 90%;
      }
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: bold;
        color: #0000;
        padding: 0;
        background: none;
        text-rendering: optimizeLegibility;
        margin: 0 0 .5em 0;
      }
      h1,
      h2,
      h3,
      h4 {
        line-height: 1.3;
      }
      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: 24px;
        margin-bottom: .7em;
      }
      h3 {
        font-size: 21px;
      }
      h4 {
        font-size: 18px;
      }
      h5 {
        font-size: 16px;
      }
      h6 {
        font-size: 12px;
        text-transform: uppercase;
      }
      

  body
    == @mailing.body
    == @mailing.signature