.-container.inner
  .-row
    .-col12
      = render_frontend_breadcrumbs

.-container.inner.menu-items
  - @menu_item.children.in_groups_of(3, false).each do |group|
    .-row
      - group.each do |item|
        .-col4
          .wrap
            = link_to item.title, menu_item_smart_url(item), class: 'item'

