<div class='-container inner'>
  <div class='-row'>
    <div class='-col12'>
      <h2 class='base-title'>Введите Ваш новый пароль</h2>
    </div>
  </div>
  <div class='-row'>
   <div class='-col4'>
    <div class='basic-form'>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "devise-form" }) do |f| %>
        <% f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-inputs">
          <%= f.input :password, label: "Новый пароль", required: true, autofocus: true, hint: ("Минимальная длина пароля #{@minimum_password_length} символов" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "Подтверждение пароля", required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Изменить пароль" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
