.-container.inner
  .-row
    .-col12
      h2.base-title = t("devise.views.new_password.title")

  .-row
    .-col4
      .basic-form
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = error_explanation(resource)
          .form-inputs
            = f.input :email, required: true, autofocus: true
          .form-actions
            = f.button :submit, t('helpers.send')
      = render 'devise/shared/links'