.footer-inner.-container 
  .-container
    .-row
      .-col3.left
        = link_to root_path, class: 'link-to-root' do
          = image_tag "logo-footer-#{I18n.locale}.png"
      .-col5.-offset1.middle
        .section
          - items = MenuItem.get('footer').try(:children, { published:true })
          - items.each do |item|
            - if item.children.present?
              .column
                .title = item.title
                ul
                  - item.children.each do |item|
                    li = link_to item.title, menu_item_smart_url(item)
      .-col2.right
        .section
          .column
            .title = t('helpers.contacts')
            .sub
              == @pf_footer_contacts.try(:content)

              - if [@settings.ig_url,@settings.vk_url,@settings.fb_url,@settings.ln_url].any? {|url| url.present?}
                .social-media
                  p = t("views.main.footer.social")
                  .wrap
                    - if @settings.ig_url.present?
                      = link_to @settings.ig_url do
                        .icon.ig
                    - if @settings.vk_url.present?
                      = link_to @settings.vk_url do
                        .icon.vk
                    - if @settings.fb_url.present?
                      = link_to @settings.fb_url do
                        .icon.fb
                    - if @settings.ln_url.present?
                      = link_to @settings.ln_url do
                        .icon.ln

  .-container
    .-row
      .-col12
        .bottom-line = t("views.main.footer.bottom")

