.organization-gallery-wrapper
  .fancybox.gallery-slider
    - @resource.pictures.each do |picture|
      .slide
        .image
          = link_to picture.file.url, rel: "gallery-#{picture.target_type}-#{picture.target_id}",
                  class: 'fancybox-slide', data: { fancybox_title: "#{picture.description} " } do
            = image_tag picture.file.url
