.header-inner
  .header-top.-container
    = link_to root_path, class: 'link-to-root' do
      = image_tag "logo-#{I18n.locale}.png", class: 'logo-default'
      = image_tag "logo-small-#{I18n.locale}.png", class: 'logo-small'
    
    .contacts
      .item.phone 
        .value = @settings.try(:contact_phone_number)
      .item.email
        .value = mail_to @settings.try(:contact_email)
    
    = locales_selector
    
    = font_size_selector

    - if [@settings.ig_url,@settings.vk_url,@settings.fb_url,@settings.ln_url].any? {|url| url.present?}
      .social-media
        .label = t("views.main.header.social")
        - if @settings.ig_url.present?
          = link_to @settings.ig_url do
            .icon.ig
        - if @settings.vk_url.present?
          = link_to @settings.vk_url do
            .icon.vk
        - if @settings.fb_url.present?
          = link_to @settings.fb_url do
            .icon.fb
        - if @settings.ln_url.present?
          = link_to @settings.ln_url do
            .icon.ln

  .mainmenu.-container
    .menu-btn = fa_icon 'bars'
    ul.top-ul
      - main_menu_items = MenuItem.get('main').try(:children, { published:true })
      - if main_menu_items
        - if !(session[:font_size] == 'small' || session[:font_size].nil?)
          li
            = link_to '#', class: 'burger menu-item' do
              span= t('helpers.menu')
            .submenu
              ul.nested-ul
                - main_menu_items.each do |item|
                  - if item.children.any?
                    li
                      = link_to '#', class: 'menu-item' do
                        span= item.title
                        .arrow
                      .nested-submenu
                        - item.children.each do |child|
                          - child_url = menu_item_smart_url child
                          = link_to child.title, child_url
                  - else
                    - url = menu_item_smart_url(item)
                    li= link_to item.title, url, class: 'menu-item'

        - main_menu_items.each do |item|
          - url = menu_item_smart_url item
          li
            = link_to url, class: 'menu-item' do
              span = item.title
              - if item.children.any?
                .arrow
            - if item.children.any?
              .submenu
                - item.children.each do |child|
                  - child_url = menu_item_smart_url child
                  = link_to child.title, child_url

    .dashboard-link
      ul.top-ul
        - if current_user.present?
          li
            = link_to '#', class: 'main' do
              span= t('application.dashboard.cabinet')
              .arrow
            .submenu
              - if can? :update, current_user 
                = link_to t('application.dashboard.my_profile'), profile_path
              - if (current_user.organizations.length==1) && can?(:update, current_user.organizations.first)
                = link_to t('application.dashboard.my_organization'), organization_path(current_user.organizations[0])
              - if (current_user.organizations.length>1)
                = link_to t('application.dashboard.my_organization'), my_organizations_path
              - if can? :read, Topic
                = link_to t('application.dashboard.forum'), topics_path
              = link_to t('application.dashboard.surveys'), votes_path
              - if ['normal', 'guest'].include? current_user.role
                = link_to t('application.dashboard.suggest_adv'), my_posts_path
              = link_to t('application.dashboard.sign_out'), destroy_user_session_path, method: :delete
        - else
          li
            = link_to login_path, class: 'main' do
              span= t('application.dashboard.cabinet')