.main-slider
  - @slides.each do |slide|
    .slide style="background-image: url(#{slide.image.thumb("1440x380").url}); background-size: cover; background-repeat: no-repeat;"
      .inner
        .wrapper
          - unless slide.title.blank?
            .title 
              = slide.title
          - unless slide.subtitle.blank?
            .subtitle 
              = slide.subtitle
          / .button
          /   = link_to t('helpers.become_resident'), contacts_path