.residents-slider-wrapper
  .title = t('views.main.residents.title')
  .subtitle = t('views.main.residents.subtitle')
  .residents-slider
    - @residents.each do |slide|
      = link_to slide, class: 'slide' do
        .inner
          .image
            = image_tag slide.logo ? slide.logo.url : 'default_logo.jpg'
          .title = slide.name