- content_for :head do
  meta property="og:title" content="#{title if local_assigns.has_key?(:title)}"


script(src="https://yastatic.net/share2/share.js" async="async")
.ya-share2 (
  data-services="facebook,twitter,vkontakte,linkedin"
  data-counter="data-counter"
  data-title="#{title if local_assigns.has_key?(:title)}"
)