.-container.inner.greeting
  .-row
    .-col12
      = render_frontend_breadcrumbs

  .-row.content-with-margins
    .-col12
      h1.base-title== @settings.greeting_title
      h3.short_description== @settings.greeting_short_description
      .card.-row
        - if @settings.greeting_image.present?
          .-col6
            = image_tag(@settings.greeting_image.url)
        .-col6
          == @settings.greeting_paragraph_1
      .-row
        .-col9.-offset3.content
          == @settings.greeting_paragraph_2
        .-col9.-offset3
          .social_share
            h4= t('helpers.social_share')
            = render partial: 'shared/shared_links', locals: {title: @settings.greeting_title}
  .clearfix