.main-page
  == render 'shared/main_slider' if @slides.present?

  .-container
    .-row
      - if @vote.present?
        .-col8
          .posts-main-page
            .label
              span = t('views.main.posts.title')

            = render partial: 'posts/list', collection: @posts, as: :item

        .-col4
          .votes-main-page
            .label
              span = t('views.main.votes.title')
            = link_to votes_path(expand: @vote.id), class: "vote-static-container" do
              = render 'votes/vote_form', vote: @vote

      - else
        .posts-main-page
          .label
              span = t('views.main.posts.title')
          .-col6
            = render partial: 'posts/list', collection: @posts[0..1], as: :item
          .-col6
            = render partial: 'posts/list', collection: @posts[2..3], as: :item

  - if @interview.present?
    .-container
      .-row
        .-col12
          .interview-main-page
            = link_to interview_path(@interview), class: 'item' do 
              .image = image_tag @interview.image.thumb('190x160#').url
              .content
                .label
                  span = t('views.main.interviews.title')
                .title = @interview.title
                .intro == @interview.intro
                .more = t('helpers.read_more')

  .-container.page-fragment.main-about
    .-row
      .-col5.-offset1
        .main-about-content
          == @pf_main_about.content
      .-col6
        = image_tag("pf-about-cluster-#{I18n.locale}.png", width: '100%', height: '100%')

  == render 'shared/residents_slider' if @residents.present?
  