= simple_nested_form_for [:admin, @resource], wrapper_mappings: { boolean: :vertical_boolean}, 
html: {class: "form-horizontal localized-form"} do |f|
  .form-inputs
    == render 'admin/helpers/locale_selectors'
    = f.input :title, as: :localized_string
    = f.input :description, as: :localized_imperavi
    = f.input :date_start, as: :date
    = f.input :date_end, as: :date
    = f.input :published
    = f.input :allow_multiple_answer
    = f.association :groups, include_blank: true, input_html: {class: 'select2-input'}
    = f.association :users, include_blank: true, input_html: {class: 'select2-input'}
    hr
    == render "options", f: f

    hr
    == render "results", f: f, resource: @resource
    hr
    = f.input :closed
    = f.input :show_results_immediately

  .form-group
    = link_to "Отменить", admin_votes_path, class: 'btn btn-default'
    | &nbsp
    = f.button :submit
    | &nbsp
    = submit_and_continue f
