- has_errors = f.object.errors.try(:messages).try(:has_key?, :options) 
h3 = t("activerecord.attributes.vote.options")
- if has_errors
  .form-group.has-error
    span.help-block= f.object.errors.messages[:options].join(", ")
= f.simple_fields_for :options do |option|
  .nested-fields
    = option.input :title, as: :localized_string
    = option.input :description, as: :localized_text
    = option.link_to_remove class: 'btn btn-danger btn-group btn-s'
      span aria-hidden="true"
        span = t("helpers.delete")
        | &nbsp
        i.fa.fa-trash
= f.link_to_add :options, class: 'btn btn-primary' do 
  span = t("helpers.buttons.add")
  | &nbsp
  i.fa.fa-plus
