h3 = t("activerecord.attributes.vote.results")
= f.simple_fields_for :results do |result|
  .nested-fields
    - (resource.options || []).each do |option|
      = result.input option.id.to_s, as: :integer, label: option.title, input_html: {value: (resource.results || {})[option.id.to_s]}
= f.input :organizations_count, input_html: {disabled: true}      