.row.page-title
  .col-lg-12
    h1 = t('views.admin.votes.index.title')
.row.top-actions
  .col-lg-12
    - if can? :create , Vote
      = link_to new_admin_vote_path, class: 'btn btn-success btn-lg pull-right' do
        i.fa.fa-plus
        | &nbsp
        = t('helpers.buttons.add')
.row
  .col-lg-12
    == render 'list'
