.-container.inner
  .-row
    .-col12
      = render_frontend_breadcrumbs
  
  .-row
    .-col12
      h1.base-title = @resource.title
    .-col12
      .base-intro = @resource.intro

  .row.content-with-margins
    .-col6.-offset2.content
      == @resource.content

    .-col6.-offset2
      .social_share
        h4= t('helpers.social_share')
        = render partial: 'shared/shared_links', locals: {title: @resource.title}

      
  .clearfix