.-container.inner
  .-row
    .-col6
      == @pf_contacts.try(:content)
    .-col6
      h1= t('helpers.contact_us')
      br
      .basic-form
        = simple_form_for(@resource, url: contacts_path, wrapper: :horizontal_form_unlabeled) do |f|
          .form-inputs
            = f.input :email, autofocus: true, placeholder: t('activerecord.attributes.contact.email'), input_html: {class: 'input-lg'}
            = f.input :name, placeholder: t('activerecord.attributes.contact.name'), input_html: {class: 'input-lg'}
            = f.input :subject, placeholder: t('activerecord.attributes.contact.subject'), input_html: {class: 'input-lg'}
            = f.input :body, placeholder: t('activerecord.attributes.contact.body'), input_html: {class: 'input-lg'}

          .form-actions
            = f.button :submit, t('helpers.send'), class: 'btn-lg btn-block'