.-container.inner.organization
  .-row
    .-col12
      = render_frontend_breadcrumbs

  .-row
    .-col12
      h1.base-title = t("views.my_organizations.index.title")

  .-row.content-with-margins.search-results
    - @collection.in_groups_of(4, false).each do |group|
      .-row.organizations-list
        - group.each do |item|
          .-col3
            .item
              = link_to organization_path(item), class: 'inner' do
                .image
                  = image_tag item.logo ? item.logo.url : 'default_logo.jpg'
                .title = item.name

    .-col12
      .base-pagination
        = paginate @collection


  .clearfix
 