$font-family-sans-serif: 'Open Sans', sans-serif
$border-radius-large: 2px
$border-radius-base: 2px
$border-radius-small: 2px 
$brand-primary: #00a3ff
$btn-primary-border: #00a3ff
$nav-link-padding: 15px 15px
$nav-link-hover-bg: #313641
$font-size-h1: 25px
$container-lg: 1300px
$container-md: 100%
$container-sm: 100%
$screen-lg: 1540px
$table-border-color: #e6eaf0
$table-cell-padding: 13px 8px 
$brand-success: #2ecc71
$btn-success-border: #2ecc71 
$form-group-margin-bottom: 30px
$state-danger-text: #ff7474
$input-border: #ccd3db
$input-height-base: 40px
$input-border-focus: #00a3ff
@import 'bootstrap-sprockets'
@import 'bootstrap'

.td-inner-container
  width: 100%
  height: 100%
  display: block
  padding: 13px 8px
.input-lg
  font-size: 14px
.btn
  font-weight: bold
label
  font-weight: normal
.control-label
  margin-bottom: 10px
  // display: block TODO check if it needs
  abbr
    color: #ff7474
    float: right
    border: none
    margin-left: 5px
.btn-lg
  font-size: 14px
  font-weight: bold
.table thead tr th
  background: #f1f2f5
  border-bottom-width: 1px
.table
  font-family: 'Open Sans', sans-serif
  a
    color: #333
    text-decoration: none
  .btn-danger, .btn-primary
    color: white

.rowlink
  td
    cursor: pointer
.form-control
  box-shadow: none
.form-control:focus
  outline: none
  box-shadow: none
.object-ref
  padding: 0 !important
.unstoppable
  width: 1px
  white-space: nowrap
  .btn + .btn
    margin-left: 5px
.btn-remove
  padding: 0 12px
  color: #a5adb8
  &:hover
    color: #ff7474
.top-actions
  margin-bottom: 20px
body
  .has-error
    .control-label
      color: #333
    .help-block
      color: #ff7474
      font-size: 12px
    .redactor-box
      border: 1px solid #ff7474
.gallery
  .fields
    border: 1px solid #dadada
    padding: 10px
    margin-bottom: 10px
    .image-input
      margin: 0
      img
        margin: 0
    .btn-danger
      float: left
      margin-right: 10px

