body.devise-layout
  font-family: 'PT Sans', sans-serif
  display: flex
  flex-direction: row
  font-size: 14px
  .left-brand
    width: 480px
    height: 100vh
    background: image_url('devise_left_pattern.png') #00a3ff no-repeat center
    align-items: center
    justify-content: center
    display: inline-block
    display: flex
  .right-panel
    flex-grow: 1
    align-items: center
    justify-content: center
    display: inline-block
    display: flex
    h1
      margin-top: 0
      font-size: 30px
      margin-bottom: 50px
