body.admin
  display: flex
  flex-direction: row
  font-family: 'PT Sans', sans-serif
  aside
    width: 240px
    min-height: 100vh
    background: #313641
    flex-shrink: 0
    .logo
      padding: 20px
      display: block
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2)
      text-align: center
      text-decoration: none
      .tip
        background: #00a3ff
        height: 25px
        color: #fff
        line-height: 25px
    nav
      li.active
        a
          color: #fff
          background-color: #00a3ff
      a
        color: #7a90a6
        font-weight: bold
        padding: 15px 20px
        &:hover
          color: #fff
        .fa
          margin-right: 10px
  .main
    flex-grow: 1
    header
      height: 60px
      border-bottom: 1px solid #eaecec
      nav
        a
          padding: 21px 15px
          display: inline-block
          font-size: 14px
          color: #a5adb8
          font-weight: bold
          &:hover
            text-decoration: none
          .fa-sign-out
            margin-left: 10px
    .content
      .page-title
        margin-top: 40px
        margin-bottom: 40px
        h1
          margin-top: 0
          margin-bottom: 0


.clr
  clear: both
.text-center
  text-align: center

.translate-selectors
  display: none
body.translate-on
  .translate-selectors
    display: block 