#map-container, .map-container
  height: 400px
  overflow: hidden

.full-size-control
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65)
  -webkit-border-radius: 4px
  border-radius: 4px
  width: 26px
  height: 26px
  line-height: 26px
  background: image_url("full_screen.png") #fff center

.fix-leaflet
  &.full-screen
    border: 1px solid #CCC
    position: fixed !important
    top: 5%
    right: 5%
    left: 5%
    bottom: 5%
    z-index: 3
    #map-container
      position: absolute !important
      top: 0px
      bottom: 0px
      left: 0px
      right: 0px
      width: auto
      height: auto

.leaflet-control-layers-toggle
  background-image: image_url('layers.png')

.leaflet-retina
  .leaflet-control-layers-toggle
    background-image: image_url('layers-2x.png')

.leaflet-draw-toolbar a
  background-image: image_url('spritesheet.png')
  background-repeat: no-repeat

.leaflet-retina .leaflet-draw-toolbar a
  background-image: image_url('spritesheet-2x.png')
  background-size: 270px 30px

.custom-coords, .custom-coords-degrees
  margin-top: 15px

  input
    width: 150px !important
    border: 1px solid #cccccc
    border-radius: 4px
    padding-left: 5px

  #customCoordsUpdate, #customCoordsDegUpdate
    margin-bottom: 2px
    padding: 1px 12px

#address-container
  padding: 20px 0 0 0
  position: relative
  max-width: 530px

  #address
    width: 100%
    height: 24px
    max-width: 530px
    font-size: 14px
    line-height: 20px
    border: 1px solid #cccccc
    border-radius: 4px
    padding-left: 5px

  #address-clear-button
    display: none
    position: absolute
    top: 25px
    right: 6px
    width: 15px
    height: 15px
    cursor: pointer
    background: image_url('search-close.png') no-repeat center

    &:hover
      background-image: image_url('search-close-active.png')

  #address-autocomplete
    display: none
    position: absolute
    top: 44px
    left: 0
    right: 0
    border: 1px solid #D7D7D7
    padding-left: 0
    max-width: 530px
    font-size: 14px
    line-height: 20px
    list-style-type: none
    background-color: #fff
    z-index: 1

    li
      margin: 0
      padding: 5px 6px
      list-style: none
      line-height: 15px

      &.selected, &:hover, &:active
        background-color: #eee