.menu-tree-container
  ul
    margin: 0 0 0 20px
    padding: 0

    li
      list-style: none
      margin: 10px 0
      padding: 0

      .dropdown.opened
        ul.dropdown-menu
          display: block

      .label
        margin-right: 20px
        padding: 5px
        font-size: 14px
        background: none
        line-height: 20px
        border: 1px solid transparent
        color: #444

        //
        //&:focus
        //  background-color: #ffffff
        //  border: 1px solid #000000

  .menu-item
    > i.fa.fa-folder, > i.fa.fa-folder-open
      cursor: pointer
    &.in-buffer
      .move-buttons
        display: none
