.organization-attachments
  .fields
    margin: 20px 0

    .file-input, .file-destroy, .file-name, .file-description
      display: inline-block
      vertical-align: top
      margin-right: 20px
    
    .file-name
      padding-top: 10px

    .organization_organization_attachments_description
      display: inline-block
      
      margin-right: 20px
      width: 400px

    .file-name  
      text-decoration: none
      color: #3daedf
      cursor: pointer

.picture-description
  display: inline-block
  margin-left: 20px
  width: 400px