.select2-input
  width: 100%

.select2-container
  padding: 0px !important
  height: 100% !important
  border: 0px !important
  .select2-choices
    height: auto
    min-height: 40px
    border: 1px solid #ccd3db
    border-radius: 2px
    padding: 6px

