- if @collection.blank?
  = t('helpers.not_found')
- else
  table.table.table-hover.table-bordered
    thead
      tr
        th Email
        th Имя
        th Тема
        th Время
    tbody.rowlink data-link="row"
      - @collection.each do |resource| 
        tr
          td.object-ref
            = link_to admin_contact_path(resource) do
              .td-inner-container
                = resource.email
          td.unstoppable
            = resource.name
          td.unstoppable
            = resource.subject
          td.unstoppable
            = resource.created_at.strftime("%d.%m.%Y %H:%M")

== paginate @collection
