.row.page-title
  h1 = @resource.subject
.row
  table.table.table-hover.table-bordered
    tbody
      tr
        td Email
        td= @resource.email
      tr
        td Имя
        td= @resource.name
      tr    
        td Тема
        td= @resource.subject
      tr    
        td Текст
        td= @resource.body
      tr    
        td Дата
        td= @resource.created_at.strftime("%d.%m.%Y %H:%M")
.row
  = link_to t("views.admin.contacts.index.title"), admin_contacts_path, class: 'btn btn-default'