= simple_nested_form_for [:admin, @resource], wrapper_mappings: { boolean: :vertical_boolean}, html: {class: "form-horizontal localized-form"} do |f|
  .form-inputs
    == render 'admin/helpers/locale_selectors'
    = f.input :title, as: :localized_string
    = f.input :intro, as: :localized_text
    = f.input :image, as: :image
    = f.input :content, as: :localized_imperavi
    = f.input :publish_date, as: :date
    - if @resource.user.present? && !@resource.approved
      = f.input :approved,
        as: :select,
        collection: [[bool_to_word(true), true], [bool_to_word(false), false]],
        include_blank: true
    - else
      = f.input :published
    == render "admin/shared/gallery", f: f
  .form-group
    = link_to "Отменить", admin_posts_path, class: 'btn btn-default'
    | &nbsp
    = f.button :submit
    | &nbsp
    = submit_and_continue f
