h4.error-name= t('error-page.error-404.error-name')
.title= t('error-page.error-404.title')
.description
  span= t('error-page.error-404.description')
  | &nbsp;
  = link_to t('error-page.error-404.link'), root_path