.-container.inner
  .-row
    .-col12
      h2.base-title = t("devise.sessions.new.sign_in")

  .-row
    .-col4
      .basic-form
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :horizontal_form_unlabeled) do |f|
          = error_explanation(resource)
          .form-inputs
            = f.input :email, required: true, autofocus: true, placeholder: t('devise.sessions.new.enter_your_login'), input_html: { class: 'input-lg' }
            = f.input :password, required: true, placeholder: t('devise.sessions.new.enter_your_password'), input_html: { class: 'input-lg' }
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

          .form-actions
            = f.button :submit, t("devise.sessions.new.sign_in"), class: 'btn-lg btn-block'

        = render "devise/shared/links"

