.form-group.row.organization-attachments
  label.control-label= t('helpers.documents')
  | &nbsp
  = f.simple_fields_for :organization_attachments, wrapper: :table_form do |attachment|
    - unless attachment.object.file_stored?
      .file-input
        = attachment.input :file, as: :file, wrapper: :vertical_file_input, label: false
    - if attachment.object.file_stored?
      = link_to attachment.object.file.name, attachment.object.file.url, target: '_blank', class: 'file-name'    
    = attachment.input :description, as: :string, input_html: {class: "file-description", placeholder: t('activerecord.attributes.organization_attachment.description')}    
    = attachment.link_to_remove class: 'file-destroy btn btn-danger'
      span aria-hidden="true"
        i.fa.fa-trash
  = f.link_to_add t('helpers.add_file'), :organization_attachments, class: 'btn btn-default'
