= simple_nested_form_for [:admin, @resource], wrapper_mappings: { boolean: :vertical_boolean}, 
html: {class: "form-horizontal localized-form"} do |f|
  .form-inputs
    == render 'admin/helpers/locale_selectors'
    = error_explanation(@resource)
    = f.input :name, as: :localized_string
    = f.input :logo, as: :image
    = f.association :activity_types, input_html: {class: 'select2-input'}
    = f.input :chief_name, as: :localized_string
    = f.input :competence, as: :localized_imperavi
    = f.input :capabilities, as: :localized_imperavi
    = f.input :offers, as: :localized_imperavi
    = f.input :interests, as: :localized_imperavi
    = f.input :contacts, as: :localized_imperavi
    = f.input :address, as: :localized_imperavi
    = f.input :website
    = f.input :coordinates_geojson, input_html: {class: "map-selector", data: {draw: [:marker]}}
    = f.input :in_slider
    == render "admin/shared/gallery", f: f
    == render "attachments", f: f
    
  .form-group
    = link_to "Отменить", admin_organizations_path, class: 'btn btn-default'
    | &nbsp
    = f.button :submit
    | &nbsp
    = submit_and_continue f
