.row.page-title
  .col-lg-12
    h1 = t('views.admin.organizations.index.title')
.row.top-actions
  .col-lg-6
    = form_tag nil, class: 'input-group', method: :get do
        = text_field_tag :query, nil, value: params[:query], placeholder: t('helpers.search_placeholder'), class: 'input form-control'
        span.input-group-btn
          = submit_tag t('helpers.search'), class: 'button btn btn-lg btn-primary'
  .col-lg-6
    - if can? :create, Organization
      = link_to new_admin_organization_path, class: 'btn btn-success btn-lg pull-right' do
        i.fa.fa-plus
        | &nbsp
        = t('helpers.buttons.add')
.row
  .col-lg-12
    == render 'list'
