.form-group.row.gallery
  .col-lg-6
    label.control-label= t('helpers.attachments')
    = f.simple_fields_for :mailing_attachments, wrapper: :table_form do |attachment|
      - unless readonly
        = attachment.link_to_remove class: 'btn btn-danger'
          span aria-hidden="true"
            i.fa.fa-trash
      .image-input
        = attachment.input :file, as: :file, wrapper: :vertical_file_input, label: false unless readonly
        = link_to attachment.object.file.name, attachment.object.file.url if attachment.object.file_stored?
    = f.link_to_add t('helpers.add_file'), :mailing_attachments, class: 'btn btn-success btn-s' unless readonly