= simple_nested_form_for [:admin, @resource], wrapper_mappings: { boolean: :vertical_boolean}, html: {class: "form-horizontal localized-form"} do |f|
  - readonly = @resource.status == Mailing::STATUSES[:done]
  .form-inputs
    = f.input :title, as: :string, input_html: { disabled: readonly }
    - if readonly
      .redactor-editor
        == @resource.body
        == @resource.signature
    - else  
      = f.input :body, as: :imperavi_mailer, input_html: { disabled: readonly }
      = f.input :signature, as: :imperavi_mailer,
              input_html: { value: (f.object.signature.blank?? @settings.default_signature : f.object.signature), disabled: readonly }
    = f.association :users, input_html: {class: 'select2-input', disabled: readonly}
    - unless readonly
      = f.input :group_ids, as: :select, collection: @groups, include_blank: true, input_html: {class: 'select2-input', multiple: true}
    == render 'attachments', f: f, readonly: readonly
  .form-group
    = link_to "Отменить", admin_mailings_path, class: 'btn btn-default'
    - if @resource.status == Mailing::STATUSES[:new]
      | &nbsp
      = f.button :submit
      | &nbsp
      = submit_and_continue f
      - unless @resource.new_record?
        | &nbsp
        button.btn.btn-primary(name='mailing[status]' value=Mailing::STATUSES[:waiting])= t("views.admin.mailings.form.sending_start") 
    - else
      - if @resource.status == Mailing::STATUSES[:waiting] || @resource.status == Mailing::STATUSES[:sending]
        | &nbsp
        button.btn.btn-danger(name='mailing[status]' value=Mailing::STATUSES[:new])= t("views.admin.mailings.form.undo") 
      | &nbsp
      - if readonly
        | &nbsp
        button.btn.btn-default(name='repeat' value=true)= t("views.admin.mailings.form.repeat") 
      | &nbsp
      
      = draw_mailing_status @resource