- if @collection.blank?
  = t('helpers.not_found')
- else
  table.table.table-hover.table-bordered
    thead
      tr
        th Название
        th Статус
        th Обновлено
        th
    tbody.rowlink data-link="row"
      - @collection.each do |resource| 
        tr
          td.object-ref
            - if can? :update, resource
              = link_to url_for([:edit, :admin, resource]) do
                .td-inner-container
                  = resource.title
            - else
              .td-inner-container
                = resource.title
          td.unstoppable= draw_mailing_status resource
          td.unstoppable= l(resource.updated_at, format: :long) 
          td.unstoppable
            - if can? :destroy, resource
              = link_to url_for([:admin, resource]), class: 'btn-remove', method: :delete, data: { confirm: "Вы уверены?" } do
                .fa.fa-trash
== paginate @collection
