.row.page-title
  .col-lg-12
    h1 = t('views.admin.settings.show.title')
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          = simple_form_for [:admin, @settings], url: admin_settings_path, html: { class: 'form-horizontal localized-form' }, wrapper_mappings: { boolean: :horizontal_boolean } do |f|
            .form-inputs
              == render 'admin/helpers/locale_selectors'
              = f.input :site_name, as: :localized_string
              = f.input :contact_phone_number
              = f.input :contact_email
              = f.input :ig_url
              = f.input :vk_url
              = f.input :fb_url
              = f.input :ln_url
              h3= t("activerecord.attributes.settings.greeting_form")
              = f.input :greeting_title, as: :localized_string
              = f.input :greeting_short_description, as: :localized_string
              = f.input :greeting_image, as: :image
              = f.input :greeting_paragraph_1, as: :localized_imperavi
              = f.input :greeting_paragraph_2, as: :localized_imperavi
              = f.input :user_notification_user_ids, as: :select, collection: User.all, input_html: {class: 'select2-input', multiple: true}
              = f.input :vote_notification_user_ids, as: :select, collection: User.all, input_html: {class: 'select2-input', multiple: true}
              = f.input :feedback_notification_user_ids, as: :select, collection: User.all, input_html: {class: 'select2-input', multiple: true}
              = f.input :default_signature, as: :imperavi_mailer
            .form-group
              .col-sm-4.col-sm-offset-2
                | &nbsp
                = f.button :submit
