- if @next_years.last.present?
  = link_to "< #{@next_years.last}", params.merge({:by_year => @next_years.last}).except(:by_month), class: 'next_year'

- @showed_months.each do |m|
  - class_name = ['month']; class_name.push('selected') if (@month.to_i == m.to_i); class_name = class_name.join(' ')
  = link_to t('date.month_names')[m], params.merge({:by_month => m}), class: class_name

- if @prev_years.first.present?
  = link_to "#{@prev_years.first} >", params.merge({:by_year => @prev_years.first}).except(:by_month), class: 'prev_year'
