.-container.inner.posts
  .-row
    .-col12
      = render_frontend_breadcrumbs
  .-row
    .-col12
      .filters
        = render 'filters'
  .-row.content-with-margins
    .-col8.-offset3
      .base-list
        = render partial: 'posts/list', collection: @collection, as: :item

    .-col8.-offset3
      .base-pagination
        = paginate @collection

