.-container.inner.posts
  .-row
    .-col12
      = render_frontend_breadcrumbs

  .-row.content-with-margins
    .-col8
      .publish-date = l(@resource.publish_date, format: :publish_date)
      h1.base-title = @resource.title
      = image_tag(@resource.image.url)
      .-row
        .-col9.-offset3.content
          == @resource.content
          == render 'shared/gallery', collection: @resource.pictures if @resource.pictures.any?
        .-col9.-offset3
          .social_share
            h4= t('helpers.social_share')
            = render partial: 'shared/shared_links', locals: {title: @resource.title}

    .-col3.-offset1
      .small-list
        .label.blue = t('views.posts.other_posts')
        = render partial: 'short_list', collection: @other_posts, as: :item
      .small-list
        .label.purple = t('views.main.interviews.title')
        = render partial: 'interviews/short_list', collection: @interviews, as: :item

  .clearfix