.flash-messages
  position: fixed
  width: 50%
  left: 25%
  top: 20px
  background: #acd036
  padding: 20px
  z-index: 1060
  border-radius: 3px
  &.hidden
    top: -200px
    transition: top 0.5s ease

  &.error, &.alert
    background: #ffffff
    color: #EA2E49
    border: 1px solid #EA2E49
    .close-link
      color: #EA2E49
    
  ul
    list-style: none
    margin: 0
    padding: 0

  .close-link
    display: block
    width: 32px
    height: 32px
    position: absolute
    top: 4px
    right: 4px
    color: #fff
    font-size: 24px
    text-align: center
    line-height: 32px
    border-radius: 16px