= simple_form_for [:admin, @resource], wrapper_mappings: { boolean: :vertical_boolean}, html: {class: "form-horizontal"} do |f|
  .form-inputs
    = f.input :title
    = f.association :users, input_html: {class: 'select2-input'}
    
  .form-group
    = link_to "Отменить", admin_groups_path, class: 'btn btn-default'
    | &nbsp
    = f.button :submit
    | &nbsp
    = submit_and_continue f
