.basic-form
  = simple_nested_form_for resource, html: { class: "form-horizontal" } do |f|
    = error_explanation(resource)
    .form-inputs
      .form-group.organization-attachments
        label = t('helpers.documents')
        | &nbsp
        .-row
          = f.simple_fields_for :organization_attachments, wrapper: :blank_page_form do |attachment|
            .file-destroy
              = attachment.link_to_remove class: 'btn default wrap'
                span aria-hidden="true"
                  i.fa.fa-trash

            - unless attachment.object.file_stored?
              .file-input
                = attachment.input :file, as: :file, wrapper: false, label: false

            - if attachment.object.file_stored?
              .file-name
                .wrap = link_to attachment.object.file.name, attachment.object.file.url, target: '_blank'

            .file-description.-col12
              .wrap = attachment.input :description, as: :string,
                      label: false, input_html: {class: "wrap", placeholder: t('activerecord.attributes.organization_attachment.description')}

          = f.link_to_add :organization_attachments, class: 'btn'
            i.fa.fa-plus
            | &nbsp
            = t('helpers.add_file')

    .form-actions
      = f.button :submit, class: 'btn primary'

