- @collection.in_groups_of(4, false).each do |group|
  .-row.organizations-list
    - group.each do |item|
      .-col3
        .item
          = link_to organization_path(item), class: 'inner' do
            .image
              = image_tag item.logo ? item.logo.url : 'default_logo.jpg'
            .title = item.name
- if @collection.blank? && params[:search]
  .-row.organizations-list
    .-col12
      .not_found
        = t('views.organizations.index.not_found')

.-col12
  .base-pagination
    = paginate @collection