.-container.inner.organization
  .-row
    .-col12
      = render_frontend_breadcrumbs
  
  .-row
    .-col8
      h1.base-title = t("views.organizations.index.title")

    .-col4
      = text_field_tag :search, params[:search], placeholder: t('views.organizations.index.search'), type: :search,
              class: 'search-field', title: t('views.organizations.index.search')

  .-row.content-with-margins.search-results
    == render 'search_results', collection: @collection


  .clearfix
 