.-container.inner.organization
  .-row
    .-col12
      = render_frontend_breadcrumbs
  .-row.title-wrapper
    .-col12
      h1.base-title
        = @resource.name

  == render 'shared/gallery', collection: @resource.pictures if @resource.pictures.any?

  .-row.content-with-margins
    .-col7.-offset3
      .-row.base-key-value
        .-col3
          .key = t("views.organizations.show.logo")
        .-col8.-offset1
          .value.with-image
            .image
              = image_tag @resource.logo ? @resource.logo.url : 'default_logo.jpg'

      - if @resource.activity_types.present?
        .-row.base-key-value
          .-col3
            .key = t("views.organizations.show.activity_type")
          .-col8.-offset1
            .value = @resource.activity_types.map(&:name).join(", ")

      - if @resource.competence.present?
        .-row.base-key-value
          .-col3
            .key = t("views.organizations.show.competence")
          .-col8.-offset1
            .value == @resource.competence

      - if @resource.capabilities.present?
        .-row.base-key-value
          .-col3
            .key = t("views.organizations.show.capabilities")
          .-col8.-offset1
            .value == @resource.capabilities

      - if @resource.offers.present?
        .-row.base-key-value
          .-col3
            .key = t("views.organizations.show.offers")
          .-col8.-offset1
            .value == @resource.offers

      - if @resource.interests.present?
        .-row.base-key-value
          .-col3
            .key = t("views.organizations.show.interests")
          .-col8.-offset1
            .value == @resource.interests

      - if @resource.chief_name.present?
        .-row.base-key-value
          .-col3
            .key = t("views.organizations.show.chief_name")
          .-col8.-offset1
            .value = @resource.chief_name

      - if @resource.contacts.present?
        .-row.base-key-value
          .-col3
            .key = t("views.organizations.show.contacts")
          .-col8.-offset1
            .value == @resource.contacts

      - if @resource.address.present?
        .-row.base-key-value
          .-col3
            .key = t("views.organizations.show.address")
          .-col8.-offset1
            .value == @resource.address

      - if @resource.website.present?
        .-row.base-key-value
          .-col3
            .key = t("views.organizations.show.website")
          .-col8.-offset1
            .value = link_to @resource.website, "http://#{@resource.website}"

  .-row
    .-col12
      - if can? :update, @resource
        .edit
          = link_to t('helpers.documents'), edit_organization_path(@resource), class: 'btn success'

  .organization-map-wrapper
    - if @resource.coordinates.present?
      .-row
        .minimap-container
          .mini-wrapper
            .mini-map.leaflet-container.leaflet-fade-anim data-coords=@resource.coordinates_geojson data-class-name='Project' data-popup-text=popup_text(@resource)
      .-row.buttons-container
        = link_to t('helpers.print'), '#', class: 'btn success print-button'

  .clearfix