<p>Добрый день, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на изменение Вашего пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали ничего просто проигнорируйте это сообщение.</p>
<p>Ваш пароль не изменится пока Вы не перейдете по ссылке и не измените его в форме.</p>
