= simple_form_for [:admin, @resource], wrapper_mappings: { boolean: :vertical_boolean }, html: {class: "form-horizontal"} do |f|

  .form-inputs
    = f.input :email, required: true
    = f.input :password, required: @resource.new_record?
    = f.input :password_confirmation, required: @resource.new_record?
    - if current_user.role?(:admin)
      = f.input :role, as: :select,
        collection: User::ROLES,
        input_html: { class: 'select2-input' }, include_blank: false
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :post
    = f.association :organizations, :collection => Organization.all.order("name->'"+I18n.locale.to_s+"' asc"), input_html: {class: 'select2-input'}
    = f.input :outer_organization
    = f.input :approved
    = f.input :image, as: :image
  .form-group
    = link_to "Отменить", admin_users_path, class: 'btn btn-default'
    | &nbsp
    = f.button :submit
    | &nbsp
    = submit_and_continue f
