- if @collection.blank?
  = t('helpers.not_found')
- else
  table.table.table-hover.table-bordered
    thead
      tr
        th ФИО
        th Организация
        th Email
        th
        th Роль
        th
    tbody.rowlink data-link="row"
      - @collection.each do |resource|
        tr
          td.object-ref
            - if can? :update, resource
              = link_to url_for([:edit, :admin, resource]) do
                .td-inner-container
                  = resource
            - else
              .td-inner-container
                = resource
          td.object-ref
            - if can? :update, resource
              = link_to url_for([:edit, :admin, resource]) do
                .td-inner-container
                  - resource.organizations.each do |organization|
                    p = organization.try(:name)
                  - if !resource.organizations.any?
                    | &nbsp
            -else
              .td-inner-container
                - resource.organizations.each do |organization|
                  p = organization.try(:name)
          td.object-ref
            - if can? :update, resource
              = link_to url_for([:edit, :admin, resource]) do
                .td-inner-container
                  = resource.email
            - else
              .td-inner-container
                = resource.email

          td.unstoppable
            = resource.approved ? 'Подтвержден' : 'Ожидает подтверждения'
          td.unstoppable
            = t("activerecord.attributes.user.roles.#{resource.role}")
          td.unstoppable
            - if can? :destroy, resource
              = link_to url_for([:admin, resource]), class: 'btn-remove', method: :delete, data: { confirm: "Вы уверены?" } do
                .fa.fa-trash
== paginate @collection
