.ibox-content
  .project-list
    - if @collection.blank?
      = t('helpers.not_found')
    - else
      table.table.table-hover
        tbody
          - @collection.each do |resource|
            tr
              td.project-title
                - if can? :update, resource
                  = link_to url_for([:edit, :admin, resource]) do
                    = resource.name
                - else    
                  = resource.name
              td.project-actions
                - if can? :destroy, resource
                  = link_to url_for([:admin, resource]), class: 'btn-remove', method: :delete, data: { confirm: "Вы уверены?" } do
                    .fa.fa-trash
  == paginate @collection