.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    h2 = t("views.admin.#{controller_name.underscore}.index.title")
.row.top-actions
  .col-lg-12
    = link_to url_for(action: :new), class: 'btn btn-success btn-lg pull-right' do
      i.fa.fa-plus
      | &nbsp
      = t('helpers.buttons.add')
.wrapper.wrapper-content
  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInUp
        .ibox
          == render 'list'