= simple_nested_form_for [:admin, @menu_item], wrapper_mappings: { boolean: :horizontal_boolean }, html: { class: 'form-horizontal localized-form'} do |f|
  .form-inputs
    == render 'admin/helpers/locale_selectors'
    = error_explanation(@menu_item)
    = f.input :title, as: :localized_string
    = f.input :annotation, as: :localized_imperavi
    = f.input :breadcrumbs
    = f.input :url
    = f.input :key
    = f.input :icon, as: :image
    = f.input :published
    = f.input :show_children
    /== render "admin/helpers/gallery", f: f
  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = link_to t('helpers.cancel'), admin_menu_items_path, class: 'btn btn-white'
      | &nbsp
      = f.button :submit
      | &nbsp
      - if can? :update, @menu_item
        = submit_and_continue f