.row.wrapper.border-bottom.white-bg.page-heading
  .col-xs-4
    h2 = t("views.admin.menu_items.index.title")
    == render_breadcrumbs
  .col-xs-4
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          == render 'form'
