.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    h2 = t("views.admin.#{controller_name}.index.title")
    == render_breadcrumbs
.wrapper.wrapper-content
  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInUp
        .ibox
        .menu-tree-container ng-app="menuTreeEdit" ng-controller="TreeController"
          script id="tree_item_renderer.html" type="text/ng-template"
            .menu-item ng-class="{'in-buffer': buffer && buffer.id == data.id}"
              i.fa style='padding-right: 3px' ng-click="toggleFolder(getType(data) == 'Folder', data)" ng-class="{'fa-caret-right': data.children.length != 0 && !data.showChildren, 'fa-caret-down': data.children.length != 0 && data.showChildren, '': data.children.length == 0}"
              i.fa ng-click="toggleFolder(getType(data) == 'Folder', data)" ng-class="{'fa-file-text': getType(data) == 'Page', 'fa-external-link': getType(data) == 'Link', 'fa-file-powerpoint-o': getType(data) == 'Presentation', 'fa-folder': getType(data) == 'Folder'&& data.children.length != 0 && !data.showChildren, 'fa-folder-open': getType(data) == 'Folder' && data.children.length != 0 && data.showChildren, 'fa-folder-o': getType(data) == 'Folder' && data.children.length == 0}"
              .label ng-click="toggleFolder(getType(data) == 'Folder', data)"
                | {{data.target_name || data.title.ru || data.title}}
              a.btn.btn-white.btn-sm href="{{editPath(data)}}"
                i.fa.fa-pencil
                | &nbsp
              | &nbsp
              span.dropdown acts-as-dropdown=true
                a.dropdown-toggle.btn.btn-primary.btn-sm href=true
                  i.fa.fa-plus
                ul.dropdown-menu
                  li
                    a ng-click="add(data, 'Folder')" href=true Добавить раздел
                    a ng-click="add(data, 'Page')" href=true Добавить страницу
                    / a ng-click="add(data, 'Presentation')" href=true Добавить презентацию
                    a ng-click="add(data, 'Link')" href=true Ссылку
              | &nbsp
              .btn.btn-white.btn-sm ng-click="cut(data)" ng-hide='buffer'
                i.fa.fa-scissors
              | &nbsp
              .btn-group.move-buttons ng-show="buffer && buffer.id != data.id"
                label.btn.btn-white ng-show="buffer" ng-click="paste(data, 'before')"
                  i.fa.fa-long-arrow-left
                  | &nbsp
                  i.fa.fa-clipboard
                | &nbsp
                label.btn.btn-white ng-show="buffer" ng-click="paste(data, 'inside')"
                  i.fa.fa-clipboard
                  | &nbsp
                  i.fa.fa-level-down
                  | &nbsp
                label.btn.btn-white ng-show="buffer" ng-click="paste(data, 'after')"
                  i.fa.fa-clipboard
                  | &nbsp
                  i.fa.fa-long-arrow-right
                  | &nbsp
              .btn.btn-danger.btn-sm ng-click="remove(data)" ng-show="data.children.length == 0"
                i.fa.fa-trash
              | &nbsp
              ul ng-show="data.showChildren"
                li ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'"

          .btn.btn-primary ng-hide="buffer" ng-click="add()"
            i.fa.fa-plus
            | &nbsp
            | Добавить в корень

          .btn.btn-white ng-show="buffer" ng-click="clearBuffer()"
            i.fa.fa-undo
            | &nbsp
            | Отменить вставку
          ul
            li ng-include="'tree_item_renderer.html'" ng-repeat=("data in tree.children")
