- messages = {already: t("helpers.votes.already"),
    view_closed: t("helpers.votes.view_closed"),
    not_finished: t("helpers.votes.not_finished"),
    voted: t("helpers.votes.voted"),
    hint: t("helpers.votes.hint"),
    submit: t("helpers.votes.submit"),
    select_organizations: t("helpers.votes.select_organizations")}

= react_component('VoteComponent',
                  {count: vote.organizations_count,
                   voted: current_user && current_user.voted?(vote),
                   votedOptions: current_user && current_user.voted_options(vote) || [],
                   organizations: current_user.organization_options,
                   url: vote_vote_path(vote_id: vote.id), 
                   expand: expand || false,
                   messages: messages,
                   role: current_user.try(:role), 
                   vote: vote.to_json(include: :options)}, {:class => 'vote-component'})
