.vote.static
  .blocked
  .title = vote.title
  .description == vote.description
  - if vote.allow_multiple_answer
    .hint = t('helpers.votes.hint')
    .options
      = simple_form_for user_options_path do |f|
        - vote.options.each do |option|
          .vote-option
            .checkbox
            label= option.title
        .submit
          = f.submit t("helpers.votes.submit")
  - else
    .options
      = simple_form_for user_options_path  do |f|
        - vote.options.each do |option|
          .vote-option
            .radio
            label= option.title
        .submit
          = f.submit t("helpers.votes.submit")

  .already-voted-count
    .title 
      = t("helpers.votes.voted")
      | :

    .value= vote.organizations_count