.-container.inner.votes
  .-row
    .-col12
      = render_frontend_breadcrumbs
  
  .-row
    .-col8
      h1.base-title = t("views.votes.index.title")

  .-row.content-with-margins
    - if @opened.any?
      .votes-block
        .label.opened-votes
          span = t(".opened_votes")
        .-row
          - @opened.each do |vote|
            .-col3 = render 'votes/vote', vote: vote, expand: @expand == vote

    - if @closed.any?
     .votes-block
        .label.closed-votes
          span = t(".closed_votes")
        .-row
          - @closed.each do |vote|
            .-col3 = render 'votes/vote', vote: vote, expand: @expand == vote