.form-group.row.gallery
  .col-lg-6
    label.control-label= t('helpers.gallery')
    = f.simple_fields_for :pictures, wrapper: :table_form do |picture|
      = picture.link_to_remove class: 'btn btn-danger'
        span aria-hidden="true"
          i.fa.fa-trash
      .image-input
        = picture.input :file, as: :file, wrapper: :vertical_file_input, label: false
        - if picture.object.file_stored?
          = image_tag picture.object.file.thumb("160x160#").url if picture.object.file_stored?
        .picture-description
          = picture.input :description, as: :string, input_html: {placeholder: t('activerecord.attributes.picture.description')}
    = f.link_to_add t('helpers.add_picture'), :pictures, class: 'btn btn-success btn-s'