ul#side-menu.nav.navigation.menu-cleaner
  - if can? :read, User
    = active_link_to admin_users_path, wrap_tag: :li do
      = fa_icon("users")
      = t("views.admin.users.index.title")

  - if can? :read, Organization
    = active_link_to admin_organizations_path, wrap_tag: :li do
      = fa_icon("industry")
      = t("views.admin.organizations.index.title")

  - if can? :read, MenuItem
    = active_link_to admin_menu_items_path, wrap_tag: :li do
      = fa_icon("list")
      = t("views.admin.menu_items.index.title")

  - if can? :read, Page
    = active_link_to admin_pages_path, wrap_tag: :li do
      = fa_icon("file")
      = t("views.admin.pages.index.title")

  - if can? :read, Post
    = active_link_to admin_posts_path, wrap_tag: :li do
      = fa_icon("bars")
      = t("views.admin.posts.index.title")

  - if can? :read, Interview
    = active_link_to admin_interviews_path, wrap_tag: :li do
      = fa_icon("user-circle")
      = t("views.admin.interviews.index.title")

  - if can? :read, Vote
    = active_link_to admin_votes_path, wrap_tag: :li do
      = fa_icon("bar-chart")
      = t("views.admin.votes.index.title")

  - if can? :read, Group
    = active_link_to admin_groups_path, wrap_tag: :li do
      = fa_icon("users")
      = t("views.admin.groups.index.title")

  - if can? :read, Mailing
    = active_link_to admin_mailings_path, wrap_tag: :li do
      = fa_icon("envelope-o")
      = t("views.admin.mailings.index.title")

  - if can? :read, ActivityType
    = active_link_to admin_activity_types_path, wrap_tag: :li do
      = fa_icon("list")
      = t("views.admin.activity_types.index.title")

  - if can? :read, PageFragment
    = active_link_to admin_page_fragments_path, wrap_tag: :li do
      = fa_icon("pencil-square")
      = t("views.admin.page_fragments.index.title")

  - if can? :read, Contact
    = active_link_to admin_contacts_path, wrap_tag: :li do
      = fa_icon("book")
      = t("views.admin.contacts.index.title")

  - if can? :read, Slide
    = active_link_to admin_slides_path, wrap_tag: :li do
      = fa_icon("file-image-o")
      = t("views.admin.slides.index.title")

  - if can? :read, Settings
    = active_link_to admin_settings_path, wrap_tag: :li do
      = fa_icon("cog")
      = t("views.admin.settings.show.title")
