= simple_nested_form_for [:admin, @resource], wrapper_mappings: { boolean: :vertical_boolean}, html: {class: "form-horizontal localized-form"} do |f|
  .form-inputs
    == render 'admin/helpers/locale_selectors'
    = error_explanation(@resource)
    = f.input :name, as: :localized_string

  .form-group
    = link_to "Отменить", admin_activity_types_path, class: 'btn btn-default'
    | &nbsp
    = f.button :submit
    | &nbsp
    = submit_and_continue f
