.breadcrumbs-front
  font-family: 'OpenSans'
  font-weight: 500
  list-style: none
  margin: 20px 0 30px 0
  li
    padding-left: 20px
    position: relative
    display: inline-block
    &:before
      content: "/"
      position: absolute
      left: 7px
      opacity: 0.5
    &:first-child
      padding-left: 0
      &:before
        content: ''
    a
      text-decoration: none
      opacity: 0.5
      &:link, &:visited
        color: #333
      &:hover, &:active

    &.active
      span
        color: #3daedf