.publish-date
  font-family: 'OpenSans'
  font-weight: 300
  font-size: 86%
  color: #333
  padding-left: 24px
  background: image_url("clock-icon.png") no-repeat 0 1px
  margin: 10px 0

.base-title
  font-family: 'Roboto'
  font-weight: 500
  margin: 10px 0 25px

img
  max-width: 100%

h1
  &.base-title
    font-size: 321%
h2
  &.base-title
    font-size: 257%

.common-text-a
  font-family: 'Roboto'
  font-weight: 500
  color: #3daedf
  text-decoration: none

.content-with-margins
  margin-top: 50px
  margin-bottom: 100px
  overflow: hidden

.content
  font-family: 'OpenSans'
  font-weight: 500
  font-size: 114%
  color: #333

  blockquote
    padding: 20px 40px 20 30px
    font-style: italic
  p
    margin: 20px 0
  a
    &:link, &:visited
      color: #3caddf
      text-decoration: none
    &:hover, &:active
      text-decoration: underline
  table
    width: 100%
    thead
      font-weight: bold
      background: #e8f7ff
    tbody tr:nth-child(even)
      background: #e8f7ff
    tbody tr:nth-child(odd)
      background: #fff
    td
      border: 1px solid #dddddd

.base-intro
  font-family: 'Roboto'
  font-weight: 500
  font-size: 143%
  color: #333

.base-key-value
  margin-bottom: 30px

.base-list
  .item
    display: block
    overflow: hidden
    clear: both
    margin-bottom: 20px
    &:link, &:visited
      text-decoration: none
    &:hover, &:active

    .image
      width: 200px
      float: left
      margin-right: 20px
    .content
      padding-left: 220px
      font-size: 100%
      .title
        font-family: 'Roboto'
        font-weight: 500
        color: #333
      .intro
        font-family: 'OpenSans'
        font-weight: 500
        margin: 20px 0
        color: #333
      .more
        font-family: 'Roboto'
        font-weight: 500
        color: #3daedf

.base-pagination
  border-top: solid 1px #e5e5e5
  font-family: 'Roboto'
  font-weight: 500
  display: inline-block
  width: 100%
  margin-top: 40px
  padding-top: 40px
  .page
    display: inline-block
    a
      display: block
      height: 40px
      width: 40px
      line-height: 40px
      padding: 0 10px
      text-align: center
      box-sizing: border-box
      border-radius: 2px
      color: #939393
      text-decoration: none
    & + .page
      margin-left: 10px
    &.current
      display: inline-block
      height: 40px
      width: 40px
      line-height: 40px
      padding: 0 10px
      text-align: center
      box-sizing: border-box
      background-color: #3caddf
      border-radius: 2px
      color: #fff
  .first, .prev, .next, .last
    display: inline-block
    a
      display: inline-block
      min-height: 40px
      min-width: 40px
      line-height: 40px
      padding: 0 10px
      text-align: center
      box-sizing: border-box
      border-radius: 2px
      color: #939393
      text-decoration: none

.small-list
  margin-bottom: 40px
  .label
    font-family: 'Roboto'
    font-weight: 500
    font-size: 86%
    display: inline-block
    clear: both
    color: #fff
    padding: 8px 16px
    text-transform: uppercase
    &.blue
      background: #3daedf
    &.purple
      background: #a186be
  .item
    display: block
    font-size: 100%
    margin: 20px 0
    border-bottom: solid 1px #e5e5e5
    padding-bottom: 20px
    &:link, &:visited
      text-decoration: none
    &:hover, &:active
    .title
      font-family: 'Roboto'
      font-weight: 500
      color: #333
    &:last-child
      border-bottom: 0

.base-buttons
  border-top: solid 1px #e5e5e5
  margin: 40px 0
  padding-top: 40px
.btn
  display: inline-block
  padding: 10px 20px
  text-align: center
  font-family: 'Roboto'
  font-weight: 500
  font-size: 114%
  text-decoration: none
  color: #fff
  outline: none
  margin-right: 30px
  &.default
    background: #e5e5e5
    color: #000
  &.primary
    background: #3daedf
  &.warning
    background: #f7941d
  &.success
    background: #acd036
  &.danger
    background: #ea2E49

.badge
  display: inline-block
  padding: 5px 10px
  text-align: center
  font-family: 'Roboto'
  font-weight: 500
  font-size: 114%
  text-decoration: none
  color: #fff
  margin-right: 30px
  &.default
    background: #e5e5e5
    color: #000
  &.danger
    background: #ea2e49
  &.success
    background: #acd036

.social_share
  h4
    line-height: 30px