.devise-links
  margin: 0 0 30px 0

.devise-form
  .form-group.has-error
    .control-label
      color: #333
    .help-block
      color: #ff7474
      font-size: 86%
    .redactor-box
      border: 1px solid #ff7474  