#error-page
  max-width: 850px
  margin: 0 auto
  .inner-wrapper

    .header
      padding: 0 0 0 70px
      .logo-wrapper
        display: table-cell
        vertical-align: middle
        height: 270px

    #content-wrapper
      max-width: 850px !important
      padding: 80px 100px !important

      .error-name
        text-transform: uppercase
      .title
        line-height: 70px
        font-size: 214%
        font-weight: 300
        color: #3daedf
        margin: 0 0 25px 0
      .description
        color: #b3b3b3
        a
          text-decoration: none