#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
  background-image: image_url('fancybox/fancybox_sprite.png') !important

#fancybox-loading
  div
    background: image_url('fancybox/fancybox_loading.gif') center center no-repeat !important

.fancybox-nav
  background: transparent image_url('fancybox/blank.gif') !important

.fancybox-overlay
  background: image_url('fancybox/fancybox_overlay.png') !important

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
    background-image: image_url('fancybox/fancybox_sprite@2x.png') !important

  #fancybox-loading
    div
      background-image: image_url('fancybox/fancybox_loading@2x.gif') !important