body
  font-size: 14px

  .mainmenu
    .burger
      display: none

  .font-size-selector
    position: absolute
    top: 20px
    right: 183px
    .wrapper
      display: block
      font-weight: 600
      &.mobile
        display: none
      .item
        text-decoration: none
        width: 50px
        height: 40px
        line-height: 40px
        color: #333333
        border: solid 1px rgba(106, 106, 106, 0.2)
        display: inline-block
        text-align: center
        overflow: hidden
        margin: 0 -1px 0 0
        box-sizing: border-box
        &:last-child
          margin: 0
        &.small
          font-size: 14px
        &.medium
          font-size: 17px
        &.big
          font-size: 20px
        &.active
          color: white
          background: #3daedf
          border: none

  &.medium, &.big
    .mainmenu
      .menu-item
        display: none
      .burger
        display: block
        + .submenu
          .menu-item
            display: block
      .nested-ul
        padding: 0
        list-style: none
        li
          float: initial
          &:hover
            .nested-submenu
              display: initial
          .nested-submenu
            display: none
            position: absolute
            background: #2893c2
            z-index: 1
            top: 0
            left: 100%
          .menu-item
            .arrow
              border-bottom: 5px solid transparent
              border-top: 5px solid transparent
              border-left: 5px solid #387089

  &.medium
    font-size: 17px

    .forum table tr td.topic-actions .btn
      width: 28px
      height: 28px
      font-size: 24px

    .header-top 
      > .locale-selector .wrapper a.locale
        height: 46px
        padding: 12px 14px 4px 16px
        font-size: 15px
        .flag
          height: 14px
          width: 21px
        .arrow
          margin: 6px 0px 0 0
      > .contacts
        .phone
          background-position: 0 3px
        .email
          background-position: 0 6px
    .font-size-selector
      .wrapper
        .item
          height: 46px
          line-height: 46px

    #header .mainmenu
      min-height: 73px
      ul li a
        font-size: 19px
        height: 73px
        .arrow
          margin: 9px 0 0 8px
      .submenu
        a
          line-height: 53px
      .dashboard-link
        height: 73px
        ul a
          font-size: 19px
          height: 73px
          &.main
            background-position: 30px 28px

    .filters
      .prev_year, .month, .next_year
        height: 46px
        line-height: 46px
        padding: 0 19px
        font-size: 17px

  &.big
    font-size: 20px

    .forum table tr td.topic-actions .btn
      width: 38px
      height: 38px
      font-size: 34px

    .header-top 
      > .locale-selector .wrapper a.locale
        height: 50px
        padding: 12px 10px 4px 16px
        font-size: 18px
        .flag
          height: 14px
          width: 21px
          margin: 3px 6px 0 0
        .arrow
          margin: 9px 0px 0 0
      > .contacts
        .phone
          background-position: 0 5px
        .email
          background-position: 0 8px
    .font-size-selector
      .wrapper
        .item
          height: 50px
          line-height: 50px

    #header .mainmenu
      min-height: 76px
      ul li a
        font-size: 22px
        height: 76px
        .arrow
          margin: 9px 0 0 8px
      .submenu
        a
          line-height: 56px
      .dashboard-link
        height: 76px
        ul a
          font-size: 22px
          height: 76px
          &.main
            background-position: 30px 28px

    .filters
      .prev_year, .month, .next_year
        height: 49px
        line-height: 49px
        padding: 0 22px
        font-size: 20px