@font-face
  font-family: 'Comfortaa'
  src: font_url('Comfortaa-Regular.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Comfortaa'
  src: font_url('Comfortaa-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Comfortaa'
  src: font_url('Comfortaa-Bold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: font_url('OpenSans-Bold.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: font_url('OpenSans-BoldItalic.ttf') format('truetype')
  font-weight: 900
  font-style: italic

@font-face
  font-family: 'OpenSans'
  src: font_url('OpenSans-Italic.ttf') format('truetype')
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'OpenSans'
  src: font_url('OpenSans-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: font_url('OpenSans-LightItalic.ttf') format('truetype')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'OpenSans'
  src: font_url('OpenSans-Regular.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: font_url('OpenSans-SemiBold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: font_url('OpenSans-SemiBoldItalic.ttf') format('truetype')
  font-weight: 700
  font-style: italic

@font-face
  font-family: 'Roboto'
  src: font_url('Roboto-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Roboto'
  src: font_url('Roboto-MediumItalic.ttf') format('truetype')
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Roboto'
  src: font_url('Roboto-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Roboto'
  src: font_url('Roboto-BoldItalic.ttf') format('truetype')
  font-weight: 700
  font-style: italic