.footer-inner
  .left, .middle, .right
    height: 310px
  
  .left
    position: relative
    .link-to-root
      position: absolute
      top: 50px
      left: 80px
      outline: none
      display: inline-block
      // > .logo
      //   width: 192px
      //   height: 88px
      //   background: image_url('logo-footer.png') no-repeat 0 0
  
  .section
    padding: 50px 0 0 0
    .column
      display: inline-block
      vertical-align: top
      margin-right: 30px
      .title
        color: #fff
        font-family: 'Roboto'
        font-weight: 500
        font-size: 93%
        opacity: 0.2
        margin-bottom: 10px
      
      ul, .sub
        list-style: none
        font-family: 'OpenSans'
        font-size: 86%
        font-weight: 500
        margin: 0
        padding: 0
      ul
        li
          margin: 0 0 10px 0
          a
            &:link, &:visited
              color: #fff
              text-decoration: none
              opacity: 0.5
            &:hover, &:active
              text-decoration: underline
      .sub
        color: #fff
        p
          margin: 0 0 5px 0
          opacity: 0.5
          a
            &:link, &:visited
              color: #fff
              text-decoration: none
            &:hover, &:active
              text-decoration: underline
        .social-media
          margin: 30px 0 0 0
          .wrap
            a
              float: left
              margin-left: 10px
              display: block
              &:first-child
                margin-left: 0
              .icon
                width: 36px
                height: 36px
                &.ig
                  background: image_url("socials-bot.gif") no-repeat 0 0
                &.vk
                  background: image_url("socials-bot.gif") no-repeat -46px 0
                &.fb
                  background: image_url("socials-bot.gif") no-repeat -92px 0
                &.ln
                  background: image_url("socials-bot.gif") no-repeat -138px 0
            a:hover
              .icon
                &.ig
                  background: image_url("socials-bot.gif") no-repeat 0 -37px
                &.vk
                  background: image_url("socials-bot.gif") no-repeat -46px -37px
                &.fb
                  background: image_url("socials-bot.gif") no-repeat -92px -37px
                &.ln
                  background: image_url("socials-bot.gif") no-repeat -138px -37px

  .bottom-line
    margin: 0 80px
    padding-top: 14px
    font-family: 'OpenSans'
    font-weight: 500
    font-size: 86%
    color: #fff
    opacity: 0.5
    border-top: solid 1px #555

  .right
    .column
      margin-right: 0