.basic-form
  .user_image
    padding: 4px 8px
    border: solid 1px #ddd
    border-radius: 1px
    width: 100%
    box-sizing: border-box
  #user_image
    border: none
  .form-group
    margin: 0 0 20px 0
    .delete-checkbox
      display: inline-block
      height: auto
      width: auto
    .delete-checkbox-label
      display: inline-block
    .label
    input, textarea
      height: 40px
      padding: 4px 8px
      border: solid 1px #ddd
      border-radius: 1px
      width: 100%
      box-sizing: border-box
      &.imperavi-input
        min-height: 160px
    textarea
      padding: 10px 8px
      min-height: 100px
    select
      width: 100%
    .help-block
      font-size: 86%
    .redactor-editor
      min-height: 100px

    .select2-container 
      width: 100%
      height: 32px
      .select2-choice 
        height: 32px
        border-radius: 1px
        .select2-arrow
          border-radius: 0 1px 1px 0
        .select2-chosen
          height: 32px
          line-height: 32px
    .checkbox
      margin: 30px 0
      label
        input
          display: inline-block
          vertical-align: middle
          width: 16px
          height: 16px
          margin: 0 10px 0 0

    
  .form-actions
    margin: 30px 0
    input[type="submit"]
      border: 0
      display: inline-block
      background: #acd036
      color: #fff
      padding: 15px 25px
      font-family: 'Roboto'
      font-weight: 500
      font-size: 100%
      border-radius: 2px
    .btn
      display: inline-block
      padding: 15px 25px
      text-align: center
      font-family: 'Roboto'
      font-weight: 500
      font-size: 100%
      text-decoration: none
      color: #fff
      outline: none
      margin-right: 30px
      &.default
        background: #e5e5e5
        color: #000
      &.primary
        background: #3daedf
      &.warning
        background: #f7941d
      &.success
        background: #acd036

  .error-messages
    margin: 0 0 20px 0
    padding: 0 0 0 20px
    color: #fb0000

  .form-title
    margin: 10px 0