.forum
  table
    width: 100%
    tr
      th
        border-right: solid 1px #fff
        padding: 10px 20px
        background: #2893c2 //#94d0ea
        font-weight: 500
        color: #fff
        &:last-child
          border-right: 0
        &.title
          width: 40%
          vertical-align: top
        &.author
          width: 10%
        &.topic-type
        &.messages-count
        &.last-message
    tr
      td
        padding: 15px 10px
        .icon-wrapper
          text-align: center
          cursor: pointer
        &.title
          font-size: 114%
          font-weight: 600
          >a
            &:link, &:visited
              color: #333
            &:hover, &:active
              color: #3daedf
        &.author
          font-size: 86%
        &.messages-count, &.last-message
          text-align: center
        &.topic-actions
          white-space: nowrap
          .btn
            display: inline-block
            padding: 4px
            margin: 0 10px 0 0
            border-radius: 3px
            width: 24px
            height: 24px
            font-size: 20px
            text-align: center
            &:hover
              transition: background 0.3s ease
            &.default
              background: #ACF0F2
              color: #333
            &.primary
              background: #2980B9
              color: #fff
            &.danger
              background: #EA2E49
              color: #fff
            &.warning
              background: #fff
              color: #f7941d
              border: solid 1px #f7941d
              &:hover
                background: #f7941d
                color: #fff
                border: solid 1px #f7941d
            &.success
              background: #fff
              color: #acd036
              border: solid 1px #acd036
              &:hover
                background: #acd036
                color: #fff
                border: solid 1px #acd036
      &.even
        td
          background: #fff
      &.odd
        td
          background: #e8f7ff

  .topic-title-hint
    color: #333
    font-size: 114%
    margin: 20px 0

  .topic-author
    .label, .value
      display: inline-block
    .label
      margin-right: 6px
      font-weight: 600

  .icon-open
    color: #588F27
  .icon-private
    color: #E74C3C

  .messages
    margin: 20px 0
    .message
      padding: 10px
      margin-bottom: 20px
      border: solid 1px #225378
      &.even
        background: #fff
      &.odd
        background: #e8f7ff
      .header
        background: #225378
        margin: -10px -10px 10px -10px
        padding: 5px 10px 5px 60px
        color: #fff
        position: relative
        min-height: 50px
        line-height: 40px
        .avatar
          position: absolute
          left: 10px
          margin-right: 10px
          img
            border-radius: 50px
            vertical-align: middle
        .author
          display: inline-block
          vertical-align: middle
        .publish-date
          margin: 2px 0 0 0
          background: none
          color: #fff
          padding: 0
          font-weight: 500
          float: right
      .content
      .actions
        margin: 20px 0 0 0
        .btn
          display: inline-block
          padding: 4px
          margin: 0 10px 0 0
          border-radius: 3px
          font-size: 100%
          text-align: center
          text-decoration: none
          &.primary
            background: #2980B9
            color: #fff
          &.danger
            background: #EA2E49
            color: #fff
          