.header-top
  position: relative
  font-family: 'Roboto'

  > a.link-to-root
    display: block
    position: absolute
    top: 25px
    left: 81px
    .logo-default
      display: block
    .logo-small
      display: none

  >.contacts
    position: absolute
    top: 47px
    left: 408px
    .item
      font-size: 114%
      margin-bottom: 28px
    .phone
      background: image_url("phone-icon.png") no-repeat 0 0
      .value
        margin-left: 29px
    .email
      background: image_url("email-icon.png") no-repeat 0 3px
      .value
        margin-left: 29px
        a
          text-decoration: none
          &:link, &:visited
            color: #3daedf
          &:hover, &:active

  >.locale-selector
    width: 89px
    position: absolute
    top: 20px
    right: 78px
    z-index: 20
    .wrapper
      position: relative
      width: 100%
      a.locale
        display: block
        box-sizing: border-box
        width: 100%
        height: 40px
        padding: 12px 10px 4px 16px
        text-decoration: none
        font-weight: 600
        font-size: 12px
        background: #f2f2f2
        .flag
          float: left
          width: 16px
          height: 11px
          margin: 1px 6px 0 0
        span
          color: #222
        .arrow
          float: right
          margin: 6px 10px 0 0
          width: 0
          height: 0
          border-left: 5px solid transparent
          border-right: 5px solid transparent
          border-top: 5px solid #ccc
        &.locale-ru
          .flag
            background: image_url('flag/ru.svg') no-repeat 0 0
            background-size: cover
        &.locale-en
          .flag
            background: image_url('flag/en.svg') no-repeat 0 0
            background-size: cover
        &.inactive
          display: none
          .arrow
            display: none
      &:hover
        a
          &.inactive
            display: block

  >.social-media
    position: absolute
    right: 78px
    bottom: 37px
    height: 36px
    z-index: 10
    .label
      float: left
      height: 36px
      line-height: 36px
      font-size: 108%
      color: #757575
      margin-right: 2px
      font-weight: 500
    a
      .icon
        width: 36px
        height: 36px
        float: left
        margin-left: 10px
        &.ig
          background: image_url("socials-top.gif") no-repeat 0 0
        &.vk
          background: image_url("socials-top.gif") no-repeat -46px 0
        &.fb
          background: image_url("socials-top.gif") no-repeat -92px 0
        &.ln
          background: image_url("socials-top.gif") no-repeat -138px 0
    a:hover
      .icon
        &.ig
          background: image_url("socials-top.gif") no-repeat 0 -37px
        &.vk
          background: image_url("socials-top.gif") no-repeat -46px -37px
        &.fb
          background: image_url("socials-top.gif") no-repeat -92px -37px
        &.ln
          background: image_url("socials-top.gif") no-repeat -138px -37px

.mainmenu
  background: #3daedf
  font-family: 'Roboto'
  font-weight: 500
  .top-ul
    margin: 0 0 0 80px
    padding: 0
    list-style: none
    float: left
    li
      float: left
      position: relative
      a
        text-transform: uppercase
        font-size: 13px
        font-weight: 600
        height: 60px
        display: block
        box-sizing: border-box
        padding: 24px 16px 0 16px
        letter-spacing: -0.1
        &:link, &:visited
          color: #fff
          text-decoration: none
          .arrow
            float: right
            margin: 5px 0 0 8px
            width: 0
            height: 0
            border-left: 5px solid transparent
            border-right: 5px solid transparent
            border-top: 5px solid #387089
        &:hover, &:active
          .arrow
            border-left: 5px solid transparent
            border-right: 5px solid transparent
            border-top: 5px solid #fff
        
      .submenu
        display: none
        position: absolute
        top: 100%
        background: #3daedf
        border-top: solid 2px #387089
        z-index: 102
        a
          height: auto
          padding: 10px 16px 10px 16px
          white-space: nowrap

        .menu-item
          position: relative
          .arrow
            position: absolute
            right: 20px
            top: 23px

      &:hover
        background: #acd036
        a
          .arrow
            border-left: 5px solid transparent
            border-right: 5px solid transparent
            border-top: 5px solid #fff
        .submenu
          display: inherit
          a
            height: auto
            padding: 10px 16px 10px 16px
            white-space: nowrap
            &:link, &:visited
            &:hover, &:active
              background: #acd036

  .dashboard-link
    height: 60px
    float: right
    border-left: solid 2px #fff
    ul
      margin: 0
      a
        text-transform: uppercase
        font-size: 13px
        font-weight: 600
        height: 60px
        display: block
        box-sizing: border-box
        &.main
          padding: 24px 100px 0 60px
          background-image: image_url("person-icon.png")
          background-repeat: no-repeat
          background-position: 30px 24px
        &:link, &:visited
          background-color: #2893c2
          color: #fff
          text-decoration: none
        &:hover, &:active
          background-color: #3daedf
          text-decoration: underline

  .menu-btn
    display: none