.interview
  .interview-question
    font-style: italic
    font-weight: 700
  .interview-answer
    font-style: italic
    font-weight: 500
    padding-left: 110px
    margin-bottom: 30px
  .image
    padding-top: 20px