*
  margin: 0
  padding: 0

html, body
  height: 100%
  //overflow: visible !important

.-container
  width: 1440px
  padding: 0
  margin: 0 auto

#wrapper
  position: relative
  width: 100%
  height: 100%
  box-sizing: border-box

  #inner
    width: 100%
    min-height: 100%
    background: #f3f3f3
    box-sizing: border-box

    #content-wrapper
      padding: 0 0 360px 0
      box-sizing: border-box
      max-width: 1440px
      margin: 0 auto
      background: #fff

#header
  .header-top
    min-height: 160px
    &.-container
      background: #fff
  .mainmenu
    min-height: 60px

#footer
  margin: -360px 0 0 0
  background-color: #f3f3f3
  padding: 0
  box-sizing: border-box
  .footer-inner
    min-height: 360px
    background: #2b3840
  .-container
    color: #fff
    
.clearfix
  clear: both