.main-page
  font-family: 'Roboto'

  >.-container
    padding: 0 80px
    box-sizing: border-box

  .label
    margin-top: 50px
    border-bottom: solid 1px #eee
    font-weight: 600
    font-size: 86%
    span
      background: #3daedf
      color: #fff
      text-transform: uppercase
      padding: 10px 15px
      display: inline-block
      margin-bottom: -1px
  .posts-main-page
    .item
      display: block
      overflow: hidden
      font-size: 100%
      margin: 30px 0
      text-decoration: none
      .image
        width: 200px
        float: left
        margin-right: 20px
      .content
        padding-left: 220px
        .title
          font-family: 'Roboto'
          font-weight: 500
          color: #333
        .intro
          font-family: 'OpenSans'
          font-weight: 500
          margin: 20px 0
          color: #333
        .more
          font-family: 'Roboto'
          font-weight: 500
          color: #3daedf
  
  .votes-main-page
    margin: 50px 0
    > .label
      margin-top: 0
      border-bottom: solid 1px #3daedf
      font-weight: 600
      font-size: 86%
      span
        background: #f7941d
        color: #fff
        text-transform: uppercase
        padding: 10px 15px
        display: inline-block
        margin-bottom: -1px
        
    a.vote-static-container
      color: #ffffff
      display: block
      text-decoration: none   
      margin-top: -1px  

  .interview-main-page
    margin: 50px 0
    .label
      margin-top: 0
      font-weight: 600
      font-size: 86%
      margin-bottom: 30px
      span
        background: #a186be
        color: #fff
        text-transform: uppercase
        padding: 10px 15px
        display: inline-block
        margin-left: -30px
    .item
      display: block
      overflow: hidden
      font-size: 100%
      margin: 30px 0
      text-decoration: none
      .image
        width: 200px
        float: left
        margin-right: 20px
      .content
        padding-left: 220px
        .title
          font-family: 'Roboto'
          font-weight: 500
          color: #333
          font-size: 143%
        .intro
          font-family: 'Roboto'
          font-weight: 500
          margin: 20px 0
          color: #333
        .more
          font-family: 'Roboto'
          font-weight: 500
          color: #3daedf

  .main-slider
    height: 380px
    position: relative
    overflow: hidden
    .slide
      width: 100%
      position: relative
      height: 380px
      z-index: 10
      position: relative
      >.inner
        position: absolute
        top: 0
        width: 100%
        height: 380px
        >.wrapper
          position: relative
          width: 100%
          height: 380px
          .title
            position: absolute
            top: 80px
            left: 180px
            font-family: 'Roboto'
            font-weight: 500
            font-size: 90px
            color: #234b5d
          .subtitle
            position: absolute
            left: 185px
            top: 185px
            right: 100px
            font-family: 'Roboto'
            font-weight: 500
            font-size: 143%
            color: #234b5d
          .button
            position: absolute
            left: 180px
            bottom: 70px
            z-index: 1000
            a
              display: block
              background: #acd036
              color: #fff
              padding: 25px 45px
              font-family: 'Roboto'
              font-weight: 500
              font-size: 100%
              border-radius: 2px
              &:link, &:visited
                text-decoration: none
    .slick-arrow
      width: 22px
      height: 38px
      position: absolute
      top: 160px
      background: transparent
      border: 0
      z-index: 11
      outline: none
      &.slick-prev
        background: image_url('arrow-left.png') no-repeat 0 center
        left: 38px
      &.slick-next
        background: image_url('arrow-right.png') no-repeat 100% center
        right: 38px
    .slick-dots
      position: absolute
      bottom: 20px
      right: 80px
      li
        display: inline-block
        width: 20px
        height: 20px
        border-radius: 10px
        background: #fff
        margin-left: 10px
        position: relative
        button
          font-size: 0
          position: absolute
          width: 12px
          height: 12px
          background: #fff
          border: 0
          left: 4px
          top: 4px
          border-radius: 6px
          outline: none
        &.slick-active
          button
            background: #3daedf

  .residents-slider-wrapper
    padding: 100px 0 60px 0
    >.title
      font-family: 'Roboto'
      font-weight: 500
      font-size: 250%
      color: #333
      text-align: center
      margin-bottom: 15px
    >.subtitle
      font-family: 'OpenSans'
      font-weight: 500
      font-size: 114%
      color: #333
      text-align: center
      opacity: 0.5
    .residents-slider
      margin-top: 50px
      padding: 0 80px
      .slide
        text-decoration: none
        text-align: center
        margin: 0 10px
        .image
          text-align: center
          height: 140px
          border: solid 1px #e5e5e5
          line-height: 140px
          img
            max-height: 122px
            display: inline-block
            vertical-align: middle
        .title
          font-family: 'Roboto'
          font-weight: 500
          color: #333
          margin-top: 10px
          text-align: left
      .slick-arrow
        width: 22px
        height: 38px
        position: absolute
        top: 55px
        background: transparent
        border: 0
        z-index: 11
        outline: none
        &.slick-prev
          background: image_url('gray-arrow-left.png') no-repeat 0 center
          left: 30px
        &.slick-next
          background: image_url('gray-arrow-right.png') no-repeat 100% center
          right: 30px
