@media screen and (max-width: 1480px)
  .-container
    width: 100%
    box-sizing: border-box


@media screen and (max-width: 1340px)
  .mainmenu
    .dashboard-link
      border-left: 0
      ul
        li
          height: 60px
          &:hover
            background: transparent
          a.main
            background-position: 13px 12px
            display: inline-block
            width: 40px
            height: 40px
            padding: 0
            border-radius: 20px
            margin: 10px
            span, .arrow
              display: none
          .submenu
            right: 0
            top: 100%
  body
    &.medium
      #header
        .mainmenu
          .dashboard-link
            ul, ul li
              height: 73px
            ul a
              &.main
                height: 60px
                width: 60px 
                border-radius: 50%
                background-position: 50% 50%
                background-size: 18px
                margin: 7px 10px 0 0
    &.big
      #header
        .mainmenu
          .dashboard-link
            ul, ul li
              height: 76px
            ul a
              &.main
                height: 60px
                width: 60px 
                border-radius: 50%
                background-position: 50% 50%
                background-size: 18px
                margin-bottom: 10px

@media screen and (max-width: 1230px)
  .mainmenu
    ul
      li
        a
          font-size: 12px
  .main-page
    .main-slider
      height: 300px
      .slide
        .inner
          .wrapper
            .title
              position: absolute
              top: 80px
              left: 180px
              font-size: 72px
            .subtitle
              position: absolute
              left: 185px
              top: 185px
              font-size: 16px
      .slick-arrow
        top: 130px
  #content-wrapper
    .inner
      &.posts, &.interviews, &.my-posts
        .content-with-margins
          .-col8
            &.-offset3
              width: 82.94039%
              margin-left: 0
              margin-right: 2.35765%
      &.my-posts
        .top-actions
          .-col8
            &.-offset3
              width: 82.94039%
              margin-left: 0
              margin-right: 2.35765%
  body
    &.medium, &.big
      #header
        .social-media
          .label
            display: none
  #footer
    .social-media
      .wrap
        a
          &:first-child
            margin-left: 0
          margin-left: 6px


@media screen and (max-width: 1140px)
  #content-wrapper
    .inner
      &.votes
        .votes-block
          .-col3
            margin-right: 2.35765%
            width: 31.76157%
            &:nth-child(3)
              margin-right: 0
  #footer
    .social-media
      .wrap
        a
          &:first-child
            margin-left: 0
          margin-left: 4px


@media screen and (max-width: 1060px)
  #header
    .header-inner
      height: 60px
      .header-top
        position: absolute
        min-height: 60px
        &.-container
          background: #3daedf
        .link-to-root
          width: 108px
          height: 41px
          top: 12px
          .logo-default
            display: none
          .logo-small
            display: block
        .contacts
          display: none
        .social-media
          display: none
        .locale-selector
          position: absolute
          width: 42px
          height: 42px
          top: 9px
          right: 60px
          z-index: 20
          .wrapper
            position: relative
            width: 42px
            height: 42px
            a.locale
              display: block
              box-sizing: border-box
              width: 42px
              height: 42px
              padding: 0
              border-radius: 21px
              text-decoration: none
              background: transparent
              span, .arrow
                display: none
              .flag
                margin: 1px
                width: 40px
                height: 40px
                border-radius: 20px
                background-color: #2893c2
                background-size: 20px 16px
                background-position: 10px 12px
              &.inactive
                display: none
                .arrow
                  display: none
            &:hover
              a
                background: #fff
                .flag
                  background-color: #fff
                  transition: all 0.1s ease
                &.inactive
                  display: block
                  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5)
      .mainmenu
        .menu-btn
          display: block
          color: #fff
          position: absolute
          left: 15px
          top: 16px
          font-size: 24px
          cursor: pointer
        ul
          display: none
        .dashboard-link
          width: 40px
          height: 40px
          position: absolute
          top: 10px
          right: 10px
          ul
            display: block
            li
              height: 50px
              .main
                margin: 0
                &:hover, &:active
                  background-color: #2893c2
              .submenu
                right: -10px
                top: 100%

  .main-page
    .main-slider
      height: 200px
      .slide
        .inner
          .wrapper
            .title
              position: absolute
              top: 30px
              left: 80px
              font-size: 32px
            .subtitle
              position: absolute
              left: 85px
              top: 85px
              font-size: 14px
      .slick-arrow
        top: 80px

    .-container
      padding: 0 15px
      .-row
        .-col8, .-col4, .-col6
          width: 100%

    .-container
      &.page-fragment
        padding: 50px 15px
        &.main-about
          .-row
            .-col5
              width: 100%
              &.-offset1
                margin-left: 0
            .-col6
              width: 60%
              margin-left: 20%
          h1, h2, h3
            font-size: 32px
            margin-bottom: 30px
          p, ul, li
            font-size: 16px
          p
            a
              font-size: 16px
          ul
            margin-left: 20px

  #footer
    .footer-inner
      .-container
        padding: 0 15px
        .-row
          .left
            width: 20%
            .link-to-root
              top: 20px
              left: 0
          .middle
            width: 50%
            margin-left: 0
            margin-right: 0
            height: 300px
            .section
              padding: 20px 0 0 0
              .column
                display: inline-block
                width: 45%
                margin-right: 0
                .sub, ul
                  display: inline-block
                  vertical-align: top
          .right
            width: 25%
            height: 300px
            .section
              padding: 20px 0 0 0
              .column
                display: block
                margin-right: 0
          .bottom-line
            margin: 0 0 0 0

  #content-wrapper
    .inner
      .filters
        .prev_year
          position: static
      .base-title
        font-size: 32px
      .base-intro
        font-size: 18px
      &.organization
        .search_form
          margin-top: 10px
          .search_field, .search_button
            height: 34px
            margin-bottom: 25px
        .organization-gallery-wrapper
          margin-bottom: 50px
        .content-with-margins
          .-col7
            &.-offset3
              width: 100%
              margin-left: 0
              margin-right: 0
        .organization-attachments
          .-row
            .fields
              margin-right: 2.35765%
              margin-bottom: 15px
              width: 48.82117%
              &:nth-child(even)
                margin-right: 0
      &.profile, &.my-posts
        .-col6
          &.-offset3
            width: 65.88078%
            margin-left: 17.05961%
      &.posts, &.interviews
        .content-with-margins
          margin-top: 30px
          .-col8
            &.-offset3
              width: 82.94039%
              margin-left: 0
              margin-right: 2.35765%
      &.my-posts
        .top-actions
          margin-bottom: 30px
      &.forum
        padding: 0 15px
        table
          tr
            th
              &.title
                width: 60%
              &.author, &.last-message
                display: none
          tbody
            tr
              td
                &.author, &.last-message
                  display: none
                &.topic-actions
                  text-align: center
                  .btn
                    display: inline-block
                    padding: 1px
                    margin: 0 6px 0 0
                    border-radius: 2px
                    width: 16px
                    height: 16px
                    font-size: 14px
    .content-with-margins
      margin-top: 0
      margin-bottom: 50px
      .content
        margin-left: 0
        margin-right: 0
        .interview-answer
          padding-left: 30px
      .-col9
        &.-offset3
          width: 100%
          margin-left: 0
          margin-right: 0
      .-col6
        &.-offset2
          width: 100%
          margin-left: 0
      .organizations-list
        .-col3
          margin-right: 2.35765%
          width: 48.82117%
          &:nth-child(even)
            margin-right: 0

  body
    &.small
      #header
        .font-size-selector
          right: 120px
          top: 10px
          .item
            border: solid 1px #2893c2
            &.active
              color: #fff
              background: #2893c2
    &.medium, &.big
      #header
        .mainmenu
          .dashboard-link
            ul, ul li
              height: 50px
            ul a
              &.main
                height: 40px
                width: 40px 
                border-radius: 50%
                background-position: 50% 50%
                background-size: auto
                margin: 0
        .font-size-selector
          right: 120px
          top: 5px
          .item
            border: solid 1px #2893c2
            &.active
              color: #fff
              background: #2893c2
    &.big
      #header
        .mainmenu
          .dashboard-link
            ul, ul li
              height: 50px

@media screen and (max-width: 900px)
  #content-wrapper
    .inner
      &.votes
        .votes-block
          .-col3
            width: 48.82117%
            margin-right: 2.35765%
            &:nth-child(odd)
              margin-right: 2.35765%
            &:nth-child(even)
              margin-right: 0
  .main-page
    .main-slider
      .slide
        .inner
          .wrapper
            .subtitle
              left: 82px


@media screen and (max-width: 760px)
  #content-wrapper
    .inner
      padding: 0 15px
      .content-with-margins
        margin-bottom: 50px
      &.organization
        .-col8, .-col4
          width: 100%
          margin-left: 0
          margin-right: 0
        .-col8
          .base-title
            margin: 10px 0 15px 0
        .organization-gallery-wrapper
          padding: 0 40px
          .gallery-slider
            .slide
              .image
            .slick-active
              opacity: 1
            .slick-arrow
              top: 100px
              background: transparent
              border: 0
              z-index: 11
              outline: none
              &.slick-prev
                background: image_url('gray-arrow-left.png') no-repeat 0 center
                left: -40px
              &.slick-next
                background: image_url('gray-arrow-right.png') no-repeat 100% center
                right: -40px
        .mini-map
          margin: 0 -15px
        .base-key-value
          .-col3
            width: 100%
          .key
            margin-bottom: 10px
      &.profile, &.my-posts
        .-col6
          &.-offset3
            width: 100%
            margin-left: 0
            margin-right: 0
      &.posts, &.interviews, &.my-posts
        .content-with-margins
          .-col8
            &.-offset3
              width: 100%
              margin-left: 0
              margin-right: 0
      &.forum
        table
          tr
            th
              &.title
                width: 80%
              &.messages-count, &.topic-type
                display: none
          tbody
            tr
              td
                &.messages-count, &.topic-type
                  display: none
                &.topic-actions
                  text-align: center
                  .btn
                    display: inline-block
                    padding: 1px
                    margin: 0 6px 0 0
                    border-radius: 2px
                    width: 16px
                    height: 16px
                    font-size: 14px
        .base-buttons
          padding-top: 20px
          margin: 20px 0
          display: flex
          justify-content: space-between 
          .btn
            margin: 0
            box-sizing: border-box
            padding: 10px 5px
            width: 30%
    .small-list
      margin-top: 20px
      .label
        width: 100%
    .social_share
      margin-top: 10px
    .organizations-list
      .-col3
        .item
          >.inner
            padding: 0

  #footer
    .footer-inner
      .-container
        padding: 0 15px
        .-row
          .left
            display: none
          .middle
            width: 100%
            margin-left: 0
            margin-right: 0
            height: auto
            .section
              padding: 20px 0 0 0
              .column
                display: block
                width: inherit
                .sub, ul
                  display: inline-block
                  vertical-align: top
                ul
                  li
                    display: inline-block
                    margin-right: 12px
          .right
            width: 100%
            height: auto
          .bottom-line
            margin: 10px 0 0 0


@media screen and (max-width: 600px)
  .main-page
    .-container
      &.page-fragment
        padding: 30px 15px
        &.main-about
          .-row
            .-col6
              width: 100%
              margin-left: 0
          h1, h2, h3
            font-size: 28px
            margin-bottom: 10px
          p, ul, li
            font-size: 16px
          p
            a
              font-size: 16px
          ul
            margin-left: 20px
  #content-wrapper
    .inner
      &.organization
        .organization-attachments
          .-row
            .fields
              margin-right: 0
              margin-bottom: 20px
              width: 100%
      &.votes
        .vote
          width: 100%
          margin-left: 0
          left: 0
          top: 0
          margin-top: 0
          box-sizing: border-box
          .close
            right: 15px
            top: 15px


@media screen and (max-width: 480px)
  #header
    .header-inner
      .header-top
        .font-size-selector
          z-index: 100
          right: 114px
          top: 10px
          .wrapper
            &.mobile
              display: block
            &.desktop
              display: none
            a
              display: block
              box-sizing: border-box
              width: 42px
              height: 42px
              padding: 0
              margin: 0
              border-radius: 21px
              background-color: #2893c2
              &.item
                display: none
                border: 0
              &.active
                display: block
            &:hover
              a
                &.item
                  display: block
                  background-color: #fff
                  color: #2893c2
                  box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.4)
                  &.active
                    box-shadow: none
                    background-color: #2893c2
                    color: #fff
            .item
              line-height: 42px
        .link-to-root
          left: 44px


  .main-page
    .-container
      &.page-fragment
        padding: 30px 15px
        &.main-about
          .-row
            .-col6
              width: 100%
              margin-left: 0
          h1, h2, h3
            font-size: 28px
            margin-bottom: 10px
          p, ul, li
            font-size: 16px
          p
            a
              font-size: 16px
          ul
            margin-left: 20px
    .posts-main-page
      .item
        .image
          display: none
        .content
          padding-left: 0
    .interview-main-page
      margin: 50px 0
      .label
        span
          margin-left: 0
      .item
        .image
          display: none
        .content
          padding-left: 0
    .main-slider
      .slide
        .inner
          .wrapper
            .title
              left: 30px
            .subtitle
              left: 60px

  #content-wrapper
    .inner
      .base-title
        font-size: 24px
      .base-intro
        font-size: 16px
      .content-with-margins
        .organizations-list
          .-col3
            margin-right: 0
            margin-left: 0
            width: 100%
      &.organization
        .edit
          a
            box-sizing: border-box
            display: block
      &.posts, &.interviews, &.my-posts
        .content-with-margins
          .-col8
            &.-offset3
              .base-list
                .item
                  .image
                    display: none
                  .content
                    padding-left: 0
      &.my-posts
        .top-actions
          .-col8
            &.-offset3
              width: 100%
              margin-left: 0
              margin-right: 0
          a
            display: block
            text-align: center
      &.menu-items
        .-row
          margin-bottom: 0
          .-col4
            margin-bottom: 20px
      &.forum
        table
          tr
            th
              &.title
                width: 80%
          tbody
            tr
              td
                &.topic-actions
                  text-align: center
                  padding: 0
                  .btn
                    display: inline-block
                    padding: 1px
                    margin: 0 4px 0 0
                    border-radius: 2px
                    width: 16px
                    height: 16px
                    font-size: 14px
        .base-buttons
          padding-top: 20px
          margin: 20px 0
          display: block
          .btn
            display: block
            margin: 0 0 10px 0
            box-sizing: border-box
            padding: 10px 5px
            width: 100%
      &.votes
        .votes-block
          .-col3
            width: 100%
            margin-right: 0
            margin-left: 0
