.menu-items
  .-row
    margin-bottom: 20px
  .wrap
    display: table
    width: 100%
    .item
      display: table-cell
      box-sizing: border-box
      background: #3eaee0
      height: 60px
      border-radius: 3px
      text-align: center
      vertical-align: middle
      padding: 2px 4px
      font-size: 86%
      font-weight: 700
      text-transform: uppercase
      color: #fff
      text-decoration: none
