.organization-gallery-wrapper
  .gallery-slider
    position: relative
    .slide
      text-decoration: none
      margin: 0 10px
      .image
        height: 260px
        line-height: 260px
        img
          height: 260px
          display: inline-block
          vertical-align: middle
    .slick-active
      opacity: 1
    .slick-arrow
      width: 22px
      height: 38px
      position: absolute
      top: 100px
      background: transparent
      border: 0
      z-index: 11
      outline: none
      &.slick-prev
        background: image_url('gray-arrow-left.png') no-repeat 0 center
        left: -50px
      &.slick-next
        background: image_url('gray-arrow-right.png') no-repeat 100% center
        right: -50px

.organization
  .key
    font-family: 'OpenSans'
    font-weight: 900
    font-size: 100%
    color: #333
  .value
    ul
      margin: 10px 0 20px 20px
    &.with-image
      .image
        display: inline-block
        border: solid 1px #e5e5e5
        text-align: center
        line-height: 140px
        img
          max-height: 122px
          display: inline-block
          vertical-align: middle
  .base-title
    position: relative
  .edit
    position: relative
    margin-bottom: 50px
    text-align: center
    a
      text-decoration: none
      margin-right: 0
  .mini-map
    height: 480px
    margin: 0 -80px
    overflow: hidden
    position: relative

  .search-field
    margin-top: 10px
    display: inline-block
    height: 45px
    width: 75%
    float: right
    box-sizing: border-box
    padding-left: 6px
    padding-right: 4px

  .search_form
    margin-top: 10px
    .search_field, .search_button
      display: inline-block
      height: 45px
      float: left
    .search_field
      box-sizing: border-box
      //width: 240px
      width: 65%
      padding-left: 6px
      padding-right: 4px
    .search_button
      margin-right: 0
      border: 0
      width: 35%
      text-align: center
      padding: 0 10px
  .buttons-container
    margin: 20px 0 20px 0

.organization-image
  max-width: 300px
  margin: 20px 0

.organizations-list
  .item
    text-align: center
    margin-bottom: 50px
    .inner
      text-decoration: none
      display: block
      .image
        border: solid 1px #e5e5e5
        line-height: 140px
        padding: 0
        img
          max-height: 122px
          display: inline-block
          vertical-align: middle
      .title
        font-family: 'Roboto'
        font-weight: 500
        color: #333
        margin-top: 10px
        text-align: left
.form-inputs
  border-bottom: solid 1px #eee
.organization-attachments
  > label
    font-family: 'Roboto'
    font-weight: 500
    font-size: 143%

  .file-input
    margin-right: 0
    overflow: hidden
    input
      height: 39px

  .file-name
    margin-right: 0
    .wrap
      border-radius: 2px
      background-color: #f3f3f3
      overflow: hidden
      white-space: nowrap
      a
        margin: 0 12px
        font-weight: bold
        text-align: left
        color: #3daedf
        text-decoration: none
        cursor: pointer
        word-wrap: break-word
        padding: 10px 10px 10px 0
        display: block

  .file-destroy
    float: right
    a
      margin-right: 0

  .btn.default
    background: #8599a1
    color: #fff
    border-radius: 2px

  .add_nested_fields
    margin: 40px 0px
    display: block
    clear: both
    border-radius: 2px
    background-color: #f9f9f9
    border: solid 1px #3daedf
    color: #3daedf

  .-row
    margin: 20px 0
    .fields
      float: left
      margin-right: 2.35765%
      width: 31.76157%
      &:nth-child(3n)
        margin-right: 0
      