.page-fragment
  &.main-about
    background: #3daedf
    padding-top: 100px
    padding-bottom: 100px

    .main-about-content
      color: #fff

      h1, h2, h3
        font-family: 'Roboto'
        font-weight: 500
        font-size: 321%
        margin: 0 0 60px 0
      p, ul, li
        font-family: 'OpenSans'
        font-weight: 500
        font-size: 114%
        margin: 0 0 30px 0
      p
        a
          display: inline-block
          color: #333
          background: #fff
          border-radius: 2px
          font-family: 'Roboto'
          font-weight: 500
          padding: 20px 40px
          font-size: 100%
          margin: 20px 0
          &:link, &:visited
            text-decoration: none
          &:hover, &:active
            text-decoration: underline
