.filters
  position: relative
  white-space: nowrap
  overflow: hidden
  overflow-x: scroll
  &::-webkit-scrollbar
    width: 0px
    background: transparent
  .prev_year
    position: absolute
    right: 0
    top: 0
    color: #939393
    display: inline-block
    box-sizing: border-box
    height: 38px
    line-height: 38px
    padding: 0 16px
    text-decoration: none
    font-weight: 600
    font-size: 14px
    background: #f2f2f2
    margin-right: 10px
  .month, .next_year
    color: #939393
    display: inline-block
    box-sizing: border-box
    height: 38px
    line-height: 38px
    padding: 0 16px
    text-decoration: none
    font-weight: 600
    font-size: 12px
    background: #f2f2f2
    margin-right: 10px
    &.selected
      color: white
      background-color: #acd036