/* Submenu Appearance */
.pushy-submenu
  /* Submenu Icon */
  position: relative
.pushy-submenu ul
  padding-left: 0
  transition: max-height 0.2s ease-in-out
  font-size: 100%
  list-style: none
.pushy-submenu ul li
  padding-left: 15px
.pushy-submenu ul .pushy-link
  transition: opacity 0.2s ease-in-out
.pushy-submenu > a
  position: relative

/* Submenu Movement */
.pushy-submenu-closed ul
  max-height: 0
  overflow: hidden
.pushy-submenu-closed .pushy-link
  opacity: 0
.pushy-submenu-open
  /* Submenu Icon */
.pushy-submenu-open ul
  max-height: 1000px
.pushy-submenu-open .pushy-link
  opacity: 1
.pushy-submenu-open a::after
  -webkit-transform: translateY(-50%) rotate(90deg)
  -ms-transform: translateY(-50%) rotate(90deg)
  transform: translateY(-50%) rotate(90deg)
.no-csstransforms3d .pushy-submenu-closed ul
  max-height: none
  display: none

.pushy-submenu
  .arrow
    cursor: pointer
    display: block
    height: 30px
    width: 30px
    background-color: #eee
    position: absolute
    top: 25px
    right: 15px
    background-image: image_url("arrow.svg")
    background-repeat: no-repeat
    background-position: center
    border-radius: 15px
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    transition: transform 0.2s
.pushy-submenu-open
  .arrow
    -webkit-transform: translateY(-50%) rotate(90deg)
    -ms-transform: translateY(-50%) rotate(90deg)
    transform: translateY(-50%) rotate(90deg)

.pushy ul li
  border-top: 1px solid rgba(255, 255, 255, .1)

.pushy ul li > a
  margin-right: 30px
  border: 0