.form-inputs
  > *
    display: block
  .add-nested
    display: inline-block

  .nested-fields
    margin-bottom: 20px
    .colors
      .has-error
        color: #ff7474

.select2-container
  width: 500px