.votes-block
  position: relative
  margin-bottom: 50px
  .label
    font-family: 'Roboto'
    border-bottom: solid 1px #eee
    font-weight: 700
    font-size: 86%
    span
      background: #3daedf
      color: #fff
      text-transform: uppercase
      padding: 10px 15px
      display: inline-block
      margin-bottom: -1px
    &.opened-votes
      span
        background: #f7941d
    &.closed-votes
      span
        background: #ccc

  .-col3
    margin-right: 2.35765%
    width: 23.23176%
    &:nth-child(4)
      margin-right: 0

.vote-overlay
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  background-color: rgba(0, 0, 0, 0.3)
  z-index: 100

.vote
  position: absolute
  top: 50%
  left: 50%
  width: 400px
  margin-left: -200px
  margin-top: -200px
  background: #3daedf
  padding: 40px 30px
  z-index: 101
  box-shadow: 0 0 9px 0 rgba(3, 5, 5, 0.03), 0px 18px 76px 0 rgba(3, 5, 5, 0.13)

  .description
    margin: 10px 0 0 0
    table
      tr
        th, td
          border: solid 1px #ddd
          border-collapse: collapse
          padding: 2px 4px
    a
      &:link, &:visited
        color: #fff
      &:hover, &:active
    ul, ol
      padding-left: 0
      margin: 10px 10px 10px 20px

  &.static
    position: relative
    margin: 0
    box-shadow: none
    left: 0
    width: auto
    top: 0

    .blocked
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0
      z-index: 100
       
  .close
    position: absolute
    top: 0
    right: -35px
    width: 20px
    height: 20px
    background: image_url('votes/close.svg') no-repeat
    cursor: pointer

  > .title
    color: #fff
    font-size: 114%
    font-weight: 600
    font-style: normal
  .hint
    font-family: 'OpenSans'
    font-size: 86%
    font-weight: 500
    font-style: normal
    color: #fff
    opacity: 0.5
    margin: 10px 0
  .options
    .disabled
      opacity: 0.3
    .organizations
      font-size: 11.5px
      margin-top: 23px
      .vote-option
        margin-top: 10px
        .checkbox
          width: 18px
          height: 18px
          top: 1px
          left: 1px
    .vote-option
      position: relative
      cursor: pointer
      margin-top: 20px
      label
        cursor: pointer
        color: #fff
        font-family: 'OpenSans'
        font-size: 100%
        font-style: normal
        padding-left: 38px
        line-height: 20px
        display: inline-block
      .radio
        position: absolute
        top: 0
        left: 0
        background-color: #ffffff
        width: 20px
        height: 20px
        opacity: 0.3
        border-radius: 10px
        &.active
          background-color: #000000
          width: 8px
          height: 8px
          border: 6px solid #ffffff
          opacity: 1
      .checkbox
        position: absolute
        top: 0
        left: 0
        background-color: #ffffff
        width: 20px
        height: 20px
        opacity: 0.3
        &.checked
          background-image: image_url('checkbox.svg')
          background-repeat: no-repeat
          background-position: 3px 5px
          opacity: 1
    .option-field
      overflow: hidden
      margin: 15px 0
      > input
        float: left
      > label
        display: block
        margin-left: 24px
        font-family: 'Roboto'
        font-weight: 500
        color: #fff
        font-size: 100%
        cursor: pointer
  .submit
    margin: 20px 0
    input[type="submit"]
      background: #fff
      color: #3daedf
      border: 0
      border-radius: 2px
      width: 100%
      font-family: 'Roboto'
      font-weight: 500
      font-size: 100%
      text-align: center
      padding: 10px
  .already-voted-count
    position: absolute
    bottom: 30px
    left: 30px
    color: #fff
    > .title, .value
      display: inline-block
    > .title
      font-family: 'Roboto'
      font-weight: 500
      font-size: 93%
      opacity: 0.5
    .value
      font-family: 'Roboto'
      font-weight: 500
      font-size: 93%
      margin-left: 5px

.vote-container
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  &:hover
    background-color: #3daedf
    color: #ffffff
  &.expanded
    background-color: #3daedf
    color: #ffffff

.vote-component
  box-sizing: border-box
  width: 100%
  height: 180px
  background-color: #ffffff
  margin: 30px 30px 0 0
  padding: 30px
  position: relative
  cursor: pointer

.vote-label
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  padding: 30px  
  border: solid 1px rgba(0, 0, 0, 0.1)
  >.title
    max-height: 90px
    overflow: hidden

  &.voted
    border: solid 1px #acd036
  
  .voted-label
    position: absolute
    top: 4px
    right: 4px
    width: 26px
    height: 26px
    border-radius: 13px
    background-color: #acd036
    background-image: image_url('votes/check.svg')
    background-size: 13px 10px
    background-repeat: no-repeat
    background-position: center

  .already-voted-count
    position: absolute
    bottom: 30px
    left: 30px
    > .title, .value
      display: inline-block
    > .title
      font-family: 'Roboto'
      font-weight: 500
      font-size: 93%
      opacity: 0.5
    .value
      margin-left: 5px
      font-family: 'Roboto'
      font-weight: 500
      font-size: 93%

.vote-results
  width: 407px
  background-color: #828282
  box-shadow: 0 0 9px 0 rgba(3, 5, 5, 0.03), 0px 18px 76px 0 rgba(3, 5, 5, 0.13)
  color: #fff

  .voted-label
    position: absolute
    top: -20px
    left: 50%
    width: 40px
    height: 40px
    margin-left: -20px
    border-radius: 20px
    background-color: #acd036
    background-image: image_url('votes/check.svg') 
    background-repeat: no-repeat
    background-position: center
    
  .results
    margin-bottom: 30px
    .result
      padding-right: 60px
      position: relative
      margin-top: 40px
      > .title
        font-size: 100%
        font-weight: normal
        color: #FFFFFF
      .line
        margin-top: 10px
        background-color: #FFFFFF
        height: 9px
        border-radius: 4.5px
        margin-bottom: 5px
      .value
        position: absolute
        right: 0
        bottom: -8px
        font-family: Open Sans
        font-size: 86%
        line-height: 28px
        color: #ffffff
        height: 26px
        padding: 0 10px
        text-align: center
        border-radius: 12.8px
        background-color: rgba(0, 0, 0, 0.2)
      &.voted-result
        .line
          background-color: #acd036
        .value
          background-color: #acd036     


.vote-info
  width: 407px
  background-color: #828282
  box-shadow: 0 0 9px 0 rgba(3, 5, 5, 0.03), 0px 18px 76px 0 rgba(3, 5, 5, 0.13)

.vote-results-wrapper
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 101
  > .inner-wrap
    position: relative
    width: 100%
    height: 100%
    >.wrap
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      >.relative-wrap
        height: 100%
        position: relative
        overflow-y: scroll