doctype 5
html lang=locale
  head
    meta charset="utf-8"
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/ico'
    = stylesheet_link_tag :admin, media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:400,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'
  body.admin
    aside
      a.logo href="/admin"
        .tip = @settings.try(:site_name).present? ? @settings.site_name : t('helpers.site_name')
      nav
        == render partial: 'admin/shared/menu'
    .main
      header
        .btn.btn-primary.btn-sm.minimalize-styl-2.translator-mode
          span.on = t('helpers.translator_mode_on')
          span.off = t('helpers.translator_mode_off')
        nav.pull-right
          = link_to destroy_user_session_path, method: :delete do
              = "Выйти"
              i.fa.fa-sign-out
        .clr
      .content
        .container
          == yield
    = javascript_include_tag :admin