doctype 5
html lang=locale
  head
    title = @settings.try(:site_name).present? ? @settings.site_name : t('helpers.site_name')
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/ico'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"
    - if content_for?(:head)
      = yield(:head)

  body(class=@font_size)
    .pushy.pushy-left
      ul
        - main_menu_items = MenuItem.get('main').try(:children, { published:true })
        - if main_menu_items
          - main_menu_items.each do |item|
            - url = menu_item_smart_url item
            - css = item.children.any? ? 'pushy-submenu' : ''
            li class="#{css}"
              = link_to url do
                span = item.title
              - if item.children.any?
                .arrow
                ul.submenu
                  - item.children.each do |child|
                    - child_url = menu_item_smart_url child
                    li.pushy-link
                      = link_to child.title, child_url
    .site-overlay

    #wrapper
      #inner
        = flash_messages

        #header
          = render 'shared/header'

        #content-wrapper
          = yield

      #footer
        = render 'shared/footer'
        
    = javascript_include_tag 'application'
