doctype 5
html(lang=locale xmlns:og="http://ogp.me/ns#")
  head
    title User Auth
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/ico'
    meta charset="utf-8"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/ico'
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag :admin, async: Rails.env.production?
    link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'
  body class="devise-layout #{@font_size}"
    .left-brand
      .logo
        = image_tag "mystand.png"
    .right-panel
      .center-content= yield
