doctype 5
html lang=locale
  head
    title = @settings.try(:site_name).present? ? @settings.site_name : t('helpers.site_name')
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/ico'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"

  body(class=@font_size)
    #wrapper
      #inner
        #error-page
          = flash_messages

          .inner-wrapper
            .header
              .logo-wrapper
                = link_to root_path, class: 'link-to-root' do
                  = image_tag "logo-#{I18n.locale}.png"
            #content-wrapper
              = yield